{% extends 'backend/masterpages/layout.html' %}
{% block body %}
<div class="col-xs-8 col-xs-offset-2">
	<!-- Horizontal Form -->
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Employee</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{{ site_url('backend/admin/doedit') }}" method="post">
              <div class="box-body">

                <div class="form-group">
                  <label for="username" class="col-sm-2 control-label">Username</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required="" minlength="5" maxlength="100" value="{{ admin.username }}">
                    <input type="hidden" name="id" value={{ admin.id }}>
                  </div>
                </div>

                <div class="form-group">
                  <label for="password" class="col-sm-2 control-label">Password</label>

                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Fill new password to change current, otherwise left it empty" minlength="5" maxlength="100" value="">
                  </div>
                </div>


                <div class="form-group">
                  <label for="fullname" class="col-sm-2 control-label">Fullname</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Fullname" required="" minlength="5" maxlength="100" value="{{ admin.fullname }}">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="is_super" value="1" {{ admin.is_super? "checked" : "" }}> Is Admin?
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a href="{{ site_url('backend/admin') }}" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
</div>
{% endblock %}