{% extends 'backend/masterpages/layout.html' %}
{% block body %}

<div class="box">
	<div class="box-header">
		<h1 class="box-title">
			Employee & Admin List
		</h1>

		<a href="{{ site_url('backend/admin/create') }}" class="btn btn-xs btn-info pull-right"><i class="fa fa-plus"></i> New</a>
	</div>
	<div class="box-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>Fullname</th>
					<th>Type</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for admin in admins %}
				<tr>
					<td>{{ admin.username }}</td>
					<td>{{ admin.fullname }}</td>
					<td>{{ admin.is_super == 1? "Admin" : "Worker" }}</td>
					<td>
						<a href="{{ site_url('backend/admin/edit') }}/{{ admin.id }}" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></a>
						<a href="{{ site_url('backend/admin/delete') }}/{{ admin.id }}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure to delete this item?');"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(function(){
		$('#example1').DataTable({
			"paging": true,
			"lengthChange": false,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false
	    });
	});
</script>
{% endblock %}