
        <!-- *** CANCEL MODAL ***
_________________________________________________________ -->

        <div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="cancel" aria-hidden="true">
            <div class="modal-dialog modal-md">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-center" id="cancel">Pembatalan Pesanan</h4>
                    </div>
                    <div class="modal-body">
                        <p>Dengan membatalkan pesanan ini, berarti anda telah bersedia untuk membayar 25% dari biaya DP yang telah dibayarkan sebelumnya sebagai uang administrasi.</p>
                        <form action="{{ site_url('order/cancel') }}" method="post">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Berikan alasan pembatalan anda" name="reason" required=""></textarea>
                                <input type="hidden" id="order_id_cancel" name="order_id" value="">
                            </div>

                            <p class="text-center">
                                <button class="btn btn-template-main"><i class="fa fa-check"></i> Batal Pesan</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- *** CANCEL MODAL END *** -->
