<div class="box">
    <h2 class="text-uppercase">Masuk</h2>

    <p class="lead">Sudah menjadi anggota?</p>

    <hr>
    {% set error = session.flashdata.msg %}
    {% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    {% endif %}

    {% set error = session.flashdata.success %}
    {% if error %}
    <div class="alert alert-success">
        Pendaftaran anda telah berhasil, silahkan login dengan email dan password anda.
    </div>
    {% endif %}

    <form action="{{ site_url('account/do_login') }}" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="username" required="">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required="">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-template-main"><i class="fa fa-sign-in"></i> Masuk</button>
        </div>
    </form>
</div>