
        <!-- *** LOGIN MODAL ***
_________________________________________________________ -->

        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-center" id="Login">Customer login</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{{ site_url('account/do_login') }}" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email_modal" placeholder="Email" name="username" required="">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password_modal" placeholder="Password" name="password" required="">
                            </div>

                            <p class="text-center">
                                <button class="btn btn-template-main"><i class="fa fa-sign-in"></i> Masuk</button>
                            </p>

                        </form>

                        <p class="text-center text-muted">Belum terdaftar?</p>
                        <p class="text-center text-muted"><a href="{{ site_url('account/register') }}"><strong>Daftar sekarang</strong></a> cuma 1 menit!</p>

                    </div>
                </div>
            </div>
        </div>

        <!-- *** LOGIN MODAL END *** -->
