{% if order.payment_status == 0 %}
<span class="label label-warning">Tunggu konfirmasi DP</span>
{% elseif order.payment_status == 1 %}
<span class="label label-warning">Telah konfirmasi DP</span>
{% elseif order.payment_status == 2 %}
<span class="label label-info">DP Lunas</span>
{% elseif order.payment_status == 3 %}
<span class="label label-success">Selesai</span>
{% elseif order.payment_status == 4 %}
<span class="label label-danger">Dibatalkan</span>
{% endif %}