
        <!-- *** REVIEW MODAL ***
_________________________________________________________ -->

        <div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="review" aria-hidden="true">
            <div class="modal-dialog modal-md">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-center" id="review">Customer Review</h4>
                    </div>
                    <div class="modal-body">
                        <p>Terima kasih telah menggunakan jasa pindahan kami. Mohon beri rating dan komentar kepada kinerja kami agar dapat meningkatkan kualitas jasa yang kami berikan.</p>
                        <form action="{{ site_url('testimonial/save') }}" method="post">
                            <div class="form-group">
                                <label for="rate">Beri rating anda</label>
                                <select name="rate" class="form-control" required="" style="font-family: 'FontAwesome'">
                                    <option value="">---------</option>
                                    <option value="1">&#xf006;</option>
                                    <option value="2">&#xf006;&#xf006;</option>
                                    <option value="3">&#xf006;&#xf006;&#xf006;</option>
                                    <option value="4">&#xf006;&#xf006;&#xf006;&#xf006;</option>
                                    <option value="5">&#xf006;&#xf006;&#xf006;&#xf006;&#xf006;</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Beri komentar anda" name="comment" required=""></textarea>
                                <input type="hidden" id="order_id_review" name="order_id" value="">
                            </div>

                            <p class="text-center">
                                <button class="btn btn-template-main"><i class="fa fa-check"></i> Selesai</button>
                            </p>

                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!-- *** REVIEW MODAL END *** -->
