
    <!-- #### JAVASCRIPT FILES ### -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')
    </script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="{{ asset_url() }}/frontend/js/jquery.cookie.js"></script>
    <script src="{{ asset_url() }}/frontend/js/waypoints.min.js"></script>
    <script src="{{ asset_url() }}/frontend/js/jquery.counterup.min.js"></script>
    <script src="{{ asset_url() }}/frontend/js/jquery.parallax-1.1.3.js"></script>
    <script src="{{ asset_url() }}/frontend/js/front.js"></script>
    <script src="{{ asset_url() }}/frontend/js/custom.js"></script>

    <!-- JQuery Validation -->
    <script src="{{ asset_url() }}/frontend/js/jquery.validate/jquery.validate.min.js"></script>
    <script src="{{ asset_url() }}/frontend/js/jquery.validate/localization/messages_id.min.js"></script>

    <!-- owl carousel -->
    <script src="{{ asset_url() }}/frontend/js/owl.carousel.min.js"></script>
    <!-- Scroll to top -->
    <script type="text/javascript" src="http://arrow.scrolltotop.com/arrow88.js"></script>

    <!-- Bootstrap Datetime Picker -->
    <script type="text/javascript" src="{{ bower_url() }}moment/min/moment.min.js"></script>
    <script type="text/javascript" src="{{ bower_url() }}eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

