{% extends "masterpages/layout.html" %}
{% block body %}
                    <div class="col-md-9 clearfix" id="customer-account">
                        <p class="text-muted lead">Ingin pindahan dalam waktu dekat? Segera <a href="{{ site_url('order/new_order') }}">pesan pindahan</a> dari sekarang!</p>

                        <div class="box">
                            {% set message = session.flashdata.msg %}
                            {% if message %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                                {{ message }}
                            </div>
                            {% endif %}

                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Pesanan</th>
                                            <th class="text-center">Tanggal dan Waktu</th>
                                            <th class="text-center">Total</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                        <tr>
                                            <th class="text-center"># {{ order.id }}</th>
                                            <td class="text-center">{{ order.move_datetime | date('d/m/Y - H:i') }}</td>
                                            <td class="text-center">Rp {{ order.price | number_format(0,'','.') }},-</td>
                                            <td class="text-center">
                                                {% if order.payment_status == 0 %}
                                                <span class="label label-warning">Tunggu konfirmasi DP</span>
                                                {% elseif order.payment_status == 1 %}
                                                <span class="label label-warning">Telah konfirmasi DP</span>
                                                {% elseif order.payment_status == 2 %}
                                                <span class="label label-info">DP Lunas</span>
                                                {% elseif order.payment_status == 3 %}
                                                <span class="label label-success">Selesai</span>
                                                {% elseif order.payment_status == 4 %}
                                                <span class="label label-danger">Dibatalkan</span>
                                                {% endif %}
                                            </td>
                                            <td class="text-right">
                                                {% if order.payment_status == 0 %}
                                                <a href="{{ site_url('order/confirmation') }}/{{ order.id }}" class="btn btn-template-main btn-sm" title="Konfirmasi pembayaran"><i class="fa fa-dollar"></i></a>
                                                {% endif %}
                                                <a href="{{ site_url('order/detail') }}/{{ order.id }}" class="btn btn-template-main btn-sm" title="Detail Pesanan"><i class="fa fa-list"></i></a>
                                                {% if order.payment_status == 3 and order.has_reviewed == 0 %}
                                                <a href="#" data-toggle="modal" data-target="#review-modal" data-id="{{ order.id }}" class="btn btn-info btn-sm btn-review" title="Beri penilaian dan tanggapan"><i class="fa fa-comment-o"></i></a>
                                                {% endif %}
                                                {% if order.payment_status != 4 %}
                                                <a href="#" data-toggle="modal" data-target="#cancel-modal" data-id="{{ order.id }}" class="btn btn-danger btn-sm btn-cancel"><i class="fa fa-times"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->

                            <p class="text-muted lead">Jika anda memiliki pertanyaan tentang pemesanan pindahan, harap hubungi kami.</p>
                        </div>

                    </div>
                    <!-- /.col-md-9 -->


    {{ include('partials/review_modal.html') }}
    {{ include('partials/cancel_modal.html') }}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.btn-cancel').click(function(){
            var orderId = $(this).data('id');
            $('#order_id_cancel').val(orderId);
        });

        $('.btn-review').click(function(){
            var orderId = $(this).data('id');
            $('#order_id_review').val(orderId);
        });
    });
</script>
{% endblock %}