/* your styles go here */
.packages .package .price h4 {
    font-size: 200% !important;
}

.packages .best-value .package .price h4 {
    font-size: 250% !important;
}

table tr.total td,
table tr.total th {
  font-size: 18px;
  color: #555555;
  font-weight: 700;
}

/* Maps */
#map {
	height: 400px;
}
#origin-input,
#destination-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
	display: block;
}

#origin-input:focus,
#destination-input:focus {
	border-color: #4d90fe;
}

.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.error {
	display: block;
	color: red;
}
/* Maps End */