{% extends 'backend/masterpages/layout.html' %}
{% block body %}
<div class="col-xs-8">
	<div class="box">
		<div class="box-header">
			<h1 class="box-title">
				Report
			</h1>
		</div>
		<div class="box-body">
			<div class="form-group">
				<label>Period:</label>
				<div class="input-group">
					<div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</div>
					<input class="form-control pull-right" id="reservation" type="text">
				</div>
				<!-- /.input group -->
			</div>

			<div class="col-xs-12">
				<a href="#" class="btn btn-md btn-info pull-right" id="btnGenerate">Generate</a>
			</div>
		</div>
		<!-- /.box-body -->
	</div>
</div>
{% endblock %}
{% block scripts %}
	<!-- daterange picker -->
	<link rel="stylesheet" href="{{ asset_url() }}backend/plugins/daterangepicker/daterangepicker.css">
	<!-- daterange picker -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
	<script src="{{ asset_url() }}backend/plugins/daterangepicker/daterangepicker.js"></script>
	<script type="text/javascript">
		$(function(){
			var start = '{{ date("Y-m-d") }}', end = '{{ date("Y-m-d") }}';
    		$('#reservation').daterangepicker();
			$('#reservation').on('apply.daterangepicker', function(ev, picker) {
				start = picker.startDate.format('YYYY-MM-DD');
				end = picker.endDate.format('YYYY-MM-DD');
			});
    		$('#btnGenerate').click(function(){
    			window.open('{{ site_url("backend/report/view") }}' + "/" + start + "/" + end, "View Report");
    		});
		})
	</script>
{% endblock %}