<!DOCTYPE html>
<html>
<head>
	<title>Financial Report</title>
</head>
<style type="text/css">
body{
	font-family: Arial;
}
.box-title{
	border: 2px solid black;
	padding: 10px;
	margin: 0 auto;
	width: 50%;
	text-align: center;
}
.box-text{
	border: 2px solid black;
	padding: 10px;
}
.underlined{
	padding: 10px;
	border-bottom: 	2px solid black;
}
.grey{
	background: #ddd;
}
table, td, th {    
    border: 2px solid black;
    text-align: left;
}
table {
    border-collapse: collapse;
	width: 50%;
}
th, td {
    padding: 3px;
}
</style>
<body>
	<h1>Pindahan.com</h1>
	<p>
	Jalan U no. 9A
	<br>Palmerah - 11480
	<br>Jakarta Barat
	</p>
	<hr>

	<h2 style="text-align: center">Financial Report</h2>
	<h4 style="text-align: center">Period: {{ start | date('d/m/Y') }} - {{ end | date('d/m/Y') }}</h4>
	<table style="margin: 0 auto;">
		<tr class="grey">
			<th>Order ID</th>
			<th>Move Date</th>
			<th>Move Time</th>
			<th>Total Fee</th>
		</tr>
		{% set grandtotal = 0 %}
		{% for order in orders %}
		<tr>
			<td>{{ order.id }}</td>
			<td>{{ order.move_datetime | date('j F Y') }}</td>
			<td>{{ order.move_datetime | date('H:i') }}</td>
			<td>Rp {{ order.price | number_format(0, '', '.') }}</td>
		</tr>
		{% set grandtotal = grandtotal + order.price %}
		{% endfor %}
		<tr class="grey">
			<td colspan="3" style="text-align: right"><b>GRAND TOTAL</b></td>
			<td>Rp {{ grandtotal | number_format(0, '', '.') }}</td>
		</tr>
	</table>
</body>
</html>