{% extends 'backend/masterpages/layout.html' %}
{% block body %}
<div class="col-xs-8 col-xs-offset-2">
	<!-- Horizontal Form -->
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">New Custom</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{{ site_url('backend/custom/docreate') }}" method="post">
              <div class="box-body">

                <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">Name</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Custom Name" required="" minlength="5" maxlength="100">
                  </div>
                </div>

                <div class="form-group">
                  <label for="volume" class="col-sm-2 control-label">Volume</label>

                  <div class="col-sm-3">
                    <input type="text" class="form-control" id="volume" name="volume" placeholder="Empty if not vehicle" required="">
                  </div>
                  
                  <label for="price" class="col-sm-1 control-label">Price</label>

                  <div class="col-sm-2">
                    <input type="text" class="form-control" id="price" name="price" placeholder="Price" required="">
                  </div>

                  <label for="max_qty" class="col-sm-2 control-label">Max Qty</label>

                  <div class="col-sm-2">
                    <input type="text" class="form-control" id="max_qty" name="max_qty" placeholder="Quantity" required="">
                  </div>
                </div>


                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="is_vehicle" value="1"> Is Vehicle?
                      </label>
                    </div>
                  </div>
                </div>

              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a href="{{ site_url('backend/custom') }}" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
</div>
{% endblock %}