{% extends 'backend/masterpages/layout.html' %}
{% block body %}

<div class="box">
	<div class="box-header">
		<h1 class="box-title">
			Custom List
		</h1>

		<a href="{{ site_url('backend/custom/create') }}" class="btn btn-xs btn-info pull-right"><i class="fa fa-plus"></i> New</a>
	</div>
	<div class="box-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Volume (m)</th>
					<th>Price</th>
					<th>Max Qty</th>
					<th>Vehicle</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for custom in customs %}
				<tr>
					<td>{{ custom.name }}</td>
					<td>{{ custom.volume | default('-') }}</td>
					<td>{{ custom.price }}</td>
					<td>{{ custom.max_qty }}</td>
					<td>{{ custom.is_vehicle == 1? "Yes" : "No" }}</td>
					<td>
						<a href="{{ site_url('backend/custom/edit') }}/{{ custom.id }}" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></a>
						<a href="{{ site_url('backend/custom/delete') }}/{{ custom.id }}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure to delete this item?');"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(function(){
		$('#example1').DataTable({
			"paging": true,
			"lengthChange": false,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false
	    });
	});
</script>
{% endblock %}