{% extends "masterpages/layout.html" %}
{% block body %}
					<div class="col-md-10 col-md-offset-1" id="checkout">

                        <div class="box">

                            <div class="content">
                                <div class="row text-center">
                                    <div class="col-sm-12">
                                        <h2>PEMBAYARAN PESANAN PINDAHAN</h2>
                                        <p class="text-muted">Harap melakukan pembayaran DP sebesar 50% selama kurang dari 24 jam ke rekening bank berikut.</p>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tr class="total">
                                                    <th>Total Transfer (DP 50%)</th>
                                                    <th>Rp {{ dp | number_format(0, '', '.') }},-</th>
                                                </tr>
                                                <tr>
                                                    <td>Batas waktu</td>
                                                    <th>{{ max_pay_date }}</th>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">Hubungi kontak kami jika anda mempunyai pertanyaan atau mengalami masalah saat melakukan pembayaran.</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="row text-center">
                                    <h3>Silahkan transfer ke salah satu dari bank yang tersedia.</h3>
                                    {% for bank in banks %}
                                    <div class="col-sm-4">
                                        <table class="table">
                                            <tr>
                                                <td><b>{{ bank.bank_name }}</b></td>
                                            </tr>
                                            <tr>
                                                <td><b>{{ bank.account_name }}</b></td>
                                            </tr>
                                            <tr>
                                                <td>{{ bank.account_no }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="box-footer">
                                <div class="text-center">
                                    <a href="{{ site_url('order/confirmation') }}/{{ order_id}}" class="btn btn-template-main text-center"><i class="fa fa-dollar"></i> Konfirmasi Pembayaran</a>
                                    <a href="{{ site_url('order/order_list') }}" class="btn btn-template-main text-center"><i class="fa fa-home"></i> Kembali ke Daftar Pesanan</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.box -->


                    </div>
                    <!-- /.col-md-9 -->

{% endblock %}

{% block scripts %}
{% endblock %}