{% extends "masterpages/layout.html" %}
{% block body %}
					<div class="col-md-10 col-md-offset-1" id="checkout">

                        <div class="box">

                            <div class="content">
                                <div class="row text-center">
                                    <div class="col-sm-12">
                                        <h2>KONFIRMASI PEMBAYARAN PESANAN PINDAHAN</h2>
                                        <p class="text-muted">Harap melakukan konfirmasi pembayaran DP dengan memasukkan informasi transfer dengan benar.</p>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <div class="row">
                                    <form action="{{ site_url('order/do_confirm') }}/{{ order_id }}" method="post">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tr>
                                                    <td>Total Transfer (DP 50%)</th>
                                                    <th>Rp {{ dp | number_format(0,'','.') }},-</th>
                                                </tr>
                                                <tr>
                                                    <td>Batas waktu</td>
                                                    <th>{{ max_pay_date }}</th>
                                                </tr>
                                                <tr>
                                                    <td>Bank yang ditransfer</td>
                                                    <td>
                                                        <select name="bank_id" class="form-control" required="">
                                                            {% for bank in banks %}
                                                            <option value="{{ bank.id }}">{{ bank.bank_name }} - {{ bank.account_no }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Nama Bank</td>
                                                    <td>
                                                        <input type="text" class="form-control" name="bank_name" style="width: 100%; text-align: left" placeholder="contoh: BCA, Mandiri, BNI" required="">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Nama Rekening</td>
                                                    <td>
                                                        <input type="text" class="form-control" name="account_name" style="width: 100%; text-align: left" placeholder="Nama rekening anda" required="">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Jumlah Dibayarkan</td>
                                                    <td>
                                                        <input type="text" class="form-control" name="amount" style="width: 100%; text-align: left" placeholder="Jumlah uang yang anda transfer" value="{{ dp }}" readonly="">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Catatan / Keterangan</td>
                                                    <td>
                                                        <textarea class="form-control" name="note" style="width: 100%; text-align: left"></textarea>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="text-center">
                                                        <button type="submit" class="btn btn-template-main">Konfirmasi</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">Hubungi kontak kami jika anda mempunyai pertanyaan atau mengalami masalah saat melakukan pembayaran.</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    </form>
                                </div>

                            </div>

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a href="{{ site_url('order/order_list') }}" class="btn btn-main text-center"><i class="fa fa-chevron-left"></i> Kembali ke Daftar Pesanan</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.box -->


                    </div>
                    <!-- /.col-md-9 -->

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var temp = '{{ max_pay_date }}';
    var t = temp.split(' - ');
    var now = new Date();
    var max = new Date(t[0] + ' ' + t[1]);

    if(now > max){
        alert('Periode pembayaran konfirmasi telah melewati 24 jam, harap pesan ulang kembali.');
        location.href = '{{ site_url("order/order_list") }}';
    }
</script>
{% endblock %}