{% extends "masterpages/layout.html" %}
{% block body %}
					<div class="col-md-10 col-md-offset-1" id="checkout">

                        <div class="box">
                            <form method="post" action="{{ site_url('order/nextstep/ringkasan') }}">

                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="{{ site_url('order/new_order/umum') }}"><i class="fa fa-user"></i><br>Info Umum</a>
                                    </li>
                                    <li><a href="{{ site_url('order/new_order/lokasi') }}"><i class="fa fa-map-marker"></i><br>Lokasi</a>
                                    </li>
                                    <li><a href="{{ site_url('order/new_order/harga') }}"><i class="fa fa-money"></i><br>Harga</a>
                                    </li>
                                    <li class="active"><a href="#"><i class="fa fa-truck"></i><br>Furnitur</a>
                                    </li>
                                    <li class="disabled"><a href="#"><i class="fa fa-list-alt"></i><br>Ringkasan</a>
                                    </li>
                                </ul>

                                <div class="content">
                                	<div class="row">
	                                	<div class="col-sm-12">
	                                		<div class="box">
			                                    <div class="row">
			                                        <div class="col-sm-4">
			                                            <div class="form-group">
			                                                <label for="firstname">Jenis Furnitur</label>
																<select class="form-control" id="appliances">
																	<option value="">Pilih jenis perabotan</option>
																	{% for furniture in furnitures %}
																	<option value="{{ furniture.id }}">{{ furniture.name }}</option>
																	{% endfor %}
																</select>
			                                            </div>
			                                        </div>

			                                        <div class="col-sm-4">
			                                            <div class="form-group">
			                                                <label for="city">Ukuran</label>
			                                                <select class="form-control" id="sizes">
																<option value="">Pilih ukuran</option>
															</select>
			                                            </div>
			                                        </div>

			                                        <div class="col-sm-2" style="padding-top: 3%;">
			                                                <button type="button" id="btn-add" class="btn btn-template-main"><i class="fa fa-plus"></i> Tambah</button>
			                                        </div>
			                                        <div class="col-sm-2">
														<table class="table">
															<tr>
																<th class="text-right">Volume tersedia</th>
															</tr>
															<tr>
																<td class="text-right">
																	<span id="total_volume_text">{{ total_volume }}</span> m<sup>3</sup>
																	<input type="hidden" id="total_volume" value="{{ total_volume }}">
																</td>
															</tr>
														</table>
			                                        </div>
			                                    </div>
			                                    <!-- /.row -->
			                                    <div class="row" id="custom-volume" style="display: none;">
			                                    	<div class="col-sm-2">
			                                    		<h5>Masukkan ukuran furnitur</h5>
			                                    	</div>
			                                    	<div class="col-sm-2">
			                                    		<div class="form-group">
			                                    			<label>Panjang</label>
			                                    			<div class="input-group">
			                                    				<input type="number" class="form-control volume-compo" id="l" value="0" min="0">
			                                    				<span class="input-group-addon">m</span>
			                                    			</div>
			                                    		</div>
			                                    	</div>
			                                    	<div class="col-sm-2">
			                                    		<div class="form-group">
			                                    			<label>Lebar</label>
			                                    			<div class="input-group">
			                                    				<input type="number" class="form-control volume-compo" id="w" value="0" min="0">
			                                    				<span class="input-group-addon">m</span>
			                                    			</div>
			                                    		</div>
			                                    	</div>
			                                    	<div class="col-sm-2">
			                                    		<div class="form-group">
			                                    			<label>Tinggi</label>
			                                    			<div class="input-group">
			                                    				<input type="number" class="form-control volume-compo" id="h" value="0" min="0">
			                                    				<span class="input-group-addon">m</span>
			                                    			</div>
			                                    		</div>
			                                    	</div>
			                                    	<div class="col-sm-2">
			                                    		<div class="form-group">
			                                    			<label>Volume</label>
			                                    			<input type="text" class="form-control" id="v" readonly="" placeholder="Volume Furnitur">
			                                    		</div>
			                                    	</div>
			                                    </div>
			                                </div>

		                                    <div class="row">
												<p id="no-appliances" class="text-center">Anda belum menambahkan furnitur.</p>
												<table id="table-appliances" class="table table-bordered table-hover" style="display: none;">
													<thead>
														<tr>
															<th style="width: 30%;">Jenis Perabotan</th>
															<th style="width: 25%">Ukuran</th>
															<th style="width: 25%">Volume</th>
															<th style="width: 15%">Jumlah</th>
															<th style="width: 5%">Hapus</th>
														</tr>
													</thead>
													<tbody id="appliance-row">
													</tbody>
												</table>
		                                    </div>
		                                    <!-- /.row -->
		                                </div>
									</div>
                                </div>

                                <div class="box-footer">
                                    <div class="pull-left">
                                        <a href="{{ site_url('order/new_order/harga') }}" class="btn btn-default"><i class="fa fa-chevron-left"></i>Kembali ke Harga</a>
                                    </div>
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-template-main">Lanjutkan ke Ringkasan<i class="fa fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col-md-7 -->
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	function countApplianceRow() {
		return $('#appliance-row tr').length;
	}

	function checkDuplicateAppliance(appliance, size) {
		var applianceExists = false, sizeExists = false;
		$.each($('#appliance-row tr'), function(key, tr) {
			var $tr = $(tr);
			applianceExists = $tr.children()[0].innerHTML == appliance;
			sizeExists = $tr.children()[1].innerHTML == size;
			if(applianceExists && sizeExists) return false;
		});
		return !(applianceExists && sizeExists);
	}

	$('#btn-add').click(function(){
		if($('#appliances').val() != '' && $('#sizes').val() == '0') {
			var appliance = $("#appliances option:selected").text();
			var size = "Custom: " + $('#l').val() +"m x " + $('#w').val() +"m x " + $('#h').val() +"m";
			var appliance_id = $("#appliances").val();
			var size_id = 0;
			var volume = parseFloat($('#l').val()) * parseFloat($('#w').val()) * parseFloat($('#h').val());

			$('#table-appliances').show();
			$('#no-appliances').hide();
			$('#appliance-row')
			.append('<tr><td>' + appliance + '</td><td>' + size + '</td><td>' + volume + 'm<sup>3</sup></td><td>'+
				'<input type="hidden" name="appliances_id[]" value="' + appliance_id + '"/><input type="hidden" name="sizes_id[]" value="' + size_id + '"/>'+
				'<input type="number" name="appliances[]" value="0" data-lastvalue="0" data-volume="'+ volume +'" min="0"></input></td>'+
				'<td><a class="btn btn-default btn-delete-row" title="Hapus"><i class="fa fa-trash"></i></button></td></tr>');

			bindNumber();

			// delete appliance row
			$('.btn-delete-row').click(function() {
				$(this).closest('tr').remove();
				if(countApplianceRow() == 0){
					$('#table-appliances').hide();
					$('#no-appliances').show();
				}
			});

			$('#l').val(0);
			$('#w').val(0);
			$('#h').val(0);
			$("#v").val("0 m³");
		}
		else if($('#appliances').val() != '' && $('#sizes').val() != '') {
			var appliance = $("#appliances option:selected").text();
			var size = $("#sizes option:selected").text();
			var appliance_id = $("#appliances").val();
			var temp = $("#sizes").val().split('-');
			var size_id = temp[0];
			var volume = temp[1];

			if(checkDuplicateAppliance(appliance, size)){
				$('#table-appliances').show();
				$('#no-appliances').hide();
				$('#appliance-row')
				.append('<tr><td>' + appliance + '</td><td>' + size + '</td><td>' + volume + 'm<sup>3</sup></td><td>'+
					'<input type="hidden" name="appliances_id[]" value="' + appliance_id + '"/><input type="hidden" name="sizes_id[]" value="' + size_id + '"/>'+
					'<input type="number" name="appliances[]" value="0" data-lastvalue="0" data-volume="'+ volume +'" min="0"></input></td>'+
					'<td><a class="btn btn-default btn-delete-row" title="Hapus"><i class="fa fa-trash"></i></button></td></tr>');

				bindNumber();

				// delete appliance row
				$('.btn-delete-row').click(function() {
					$(this).closest('tr').remove();
					if(countApplianceRow() == 0){
						$('#table-appliances').hide();
						$('#no-appliances').show();
					}
				});
			}
			else {
				alert('Pilihan perabotan dan ukuran tersebut sudah ada.');
			}
		}
		else {
			alert('Harap pilih perabotan dan ukuran terlebih dahulu.');
		}
	});

	$("#sizes").change(function() {
		$sizes = $(this);
		if($sizes.val() == '0') {
			$('#custom-volume').show();
		}
		else {
			$('#custom-volume').hide();
		}
	});

	// get sizes for appliance
	$('#appliances').change(function() {
		$applianceID = $(this).val();
		$.ajax({
			url: '{{ site_url("order/get_size") }}/' + $applianceID,
			success: function(res) {
				if(res){
					$('#sizes').empty();
					$('#sizes').append('<option value="">Pilih ukuran</option>');
					for (var i = 0; i < res.length; i++) {
						$('#sizes').append('<option value="' + res[i].id + '-' + (res[i].length*res[i].width*res[i].height) + '">' + res[i].name + ' (' + res[i].length + 'm x ' + res[i].width + 'm x ' + res[i].height + 'm)</option>');
					}
					$('#sizes').append('<option value="0">Pilih ukuran sendiri</option>');
				}
			}
		});
	});

	$(".volume-compo").change(function() {
		var l = $("#l").val();
		var w = $("#w").val();
		var h = $("#h").val();

		var volume = Math.round(l*w*h * 1000) / 1000;
		$("#v").val(volume+" m³");
	});

	function bindNumber(){
		$('input[type="number"]').last().change(function () {

	    	var v = parseFloat($(this).data('volume'));

	        if(this.value < $(this).data('lastvalue')){
				countTotalVolume(v, 'add');
			}
			else if(this.value > $(this).data('lastvalue')){
				if(countTotalVolume(v, 'sub') == false){
					$(this).val($(this).data('lastvalue'));
				}
			}

	        $(this).data('lastvalue', this.value);
		}).change();
	}

	var total_volume = {{ total_volume }};
	function countTotalVolume(v, mode){
		if(mode == 'sub' && total_volume - v < 0) {
			alert('Tidak bisa menambah furnitur karena volume yang tersedia sudah habis');
			return false;
		}

		if (mode == 'add') total_volume += v;
		else if (mode == 'sub') total_volume -= v;
		$('#total_volume_text').text(total_volume);
		return true;
	}
</script>
{% endblock %}