{% extends "masterpages/layout.html" %}
{% block body %}
					<div class="col-md-10 col-md-offset-1" id="checkout">

                        <div class="box">
                            <form method="post" action="{{ site_url('order/nextstep/furnitur') }}" id="formHarga">

                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="{{ site_url('order/new_order/umum') }}"><i class="fa fa-user"></i><br>Info Umum</a>
                                    </li>
                                    <li><a href="{{ site_url('order/new_order/lokasi') }}"><i class="fa fa-map-marker"></i><br>Lokasi</a>
                                    </li>
                                    <li class="active"><a href="#"><i class="fa fa-money"></i><br>Harga</a>
                                    </li>
                                    <li class="disabled"><a href="#"><i class="fa fa-truck"></i><br>Furnitur</a>
                                    </li>
                                    <li class="disabled"><a href="#"><i class="fa fa-list-alt"></i><br>Ringkasan</a>
                                    </li>
                                </ul>

                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="firstname">Apakah anda ingin menggunakan paket?</label>
                                                <div class="radio">
                                                  <label><input type="radio" id="yes" checked="" value="y" onclick="selectPackage('')">Ya</label>
                                                </div>
                                                <div class="radio">
                                                  <label><input type="radio" id="no" value="n" onclick="selectPackage(0)">Tidak</label>
                                                </div>
                                                <input type="hidden" id="package_id" name="package_id" value="" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row packages" id="package">

                                        {% for package in packages %}
                                            {% autoescape %}
                                            {% set divBest = '<div class="best-value">' %}
                                            {% set divBestClose = '</div>' %}
                                            {% set metaBest = '<div class="meta-text">Best Value</div>' %}
                                            {% set notavail = '<i class="fa fa-times"></i>' %}
                                            <div class="col-md-3">
                                                {{ (package.is_best_offer? divBest: '') | raw }}
                                                <div class="package ">
                                                    <div class="package-header">
                                                        <h5>{{ package.name }}</h5>
                                                        {{ (package.is_best_offer? metaBest: '') | raw }}
                                                    </div>
                                                    <div class="price">
                                                        <div class="price-container">
                                                            <h4>Rp {{ package.price | number_format(0, '', '.') }}</h4>
                                                        </div>
                                                    </div>
                                                    <ul>
                                                        <li><i class="fa fa-check"></i>{{ package.transportation }} {{ package.vehicle.name }}</li>
                                                        <li><i class="fa fa-check"></i>Gratis {{ package.distance }} km pertama</li>
                                                        <li>{{ (package.employee > 0? package.employee : notavail) | raw }} Tenaga kerja</li>
                                                        <li>{{ (package.box > 0? package.box : notavail) | raw }} Kardus</li>
                                                    </ul>
                                                    <a class="btn btn-template-main" id="btn-{{ package.id }}" onclick="selectPackage({{ package.id }})">Pilih</a>
                                                </div>
                                                {{ (package.is_best_offer? divBestClose: '') | raw }}
                                            </div>
                                            {% endautoescape %}
                                        {% endfor %}
                                    </div>
                                    <div class="row" id="custom" style="display: none;">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="30%">Barang/Jasa</th>
                                                    <th width="30%">Harga Satuan (Rp)</th>
                                                    <th width="23%">Pemesanan (Qty)</th>
                                                    <th>Subtotal</th>
                                                </tr>
                                            </thead>
                                            <tbody id="table-custom-price">
                                                {% for custom in customs %}
                                                {% autoescape %}
                                                {% set m3 = 'm<sup>3</sup>' %}
                                                <tr>
                                                    <th>{{ custom.name }} {{ (custom.volume > 0? '(muatan: ' ~ custom.volume ~ ' ' ~ m3 ~ ')' : '') | raw }}</th>
                                                    <td>{{ custom.price | number_format(0, '', '.') }}</td>
                                                    <td>
                                                        <input type="hidden" name="custom_id[]" value="{{ custom.id }}" />
                                                        <input type="number" class="custom-qty" data-id="{{ custom.id }}" data-price="{{ custom.price }}" name="custom[]" value="0" min="0" max="{{ custom.max_qty }}"></input>&nbsp;/{{ custom.max_qty }}</td>
                                                    <td><span id="subtotal-custom-{{ custom.id }}">-</span><input type="hidden" class="subtotal-custom" id="subtotal-custom-hidden-{{ custom.id }}"></td>
                                                </tr> 
                                                {% endautoescape %}
                                                {% endfor %}
                                                <tr>
                                                    <td colspan="3" style="text-align: right; font-size: 16px !important;"><b>TOTAL</b></td>
                                                    <td><span id="grandtotal-custom">-</span><input type="hidden" id="grandtotal-custom-hidden"></td>
                                                </tr>
                                                <tr>
                                                    <th><i class="fa fa-clock-o"></i> Estimasi Pengerjaan</th>
                                                    <td colspan="3">3 jam</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">
                                                        Catatan: 
                                                        <ul>
                                                            <li>Tenaga kerja dapat melakukan packing, angkut, dan penataan.</li>
                                                            <li>Harga tertera belum termasuk uang tambahan tips.</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <h4>Perlengkapan Tambahan</h4>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="30%">Barang/Jasa</th>
                                                    <th width="30%">Harga Satuan (Rp)</th>
                                                    <th width="23%">Pemesanan (Qty)</th>
                                                    <th>Subtotal</th>
                                                </tr>
                                            </thead>
                                            <tbody id="table-extra-price">
                                                {% for extra in extras %}
                                                <tr>
                                                    <th>{{ extra.name }}</th>
                                                    <td>{{ extra.price | number_format(0, '', '.') }}</td>
                                                    <td>
                                                        <input type="hidden" name="extra_id[]" value="{{ extra.id }}" />
                                                        <input type="number" class="extra-qty" data-id="{{ extra.id }}" data-price="{{ extra.price }}" name="extra[]" value="0" min="0" max="20"></input></td>
                                                    <td><span id="subtotal-extra-{{ extra.id }}">-</span><input type="hidden" class="subtotal-extra" id="subtotal-extra-hidden-{{ extra.id }}"></td>
                                                </tr>
                                                {% endfor %}
                                                <tr>
                                                    <td colspan="3" style="text-align: right; font-size: 16px !important;"><b>TOTAL</b></td>
                                                    <td><span id="grandtotal-extra">-</span><input type="hidden" id="grandtotal-extra-hidden"></td>
                                                </tr> 
                                                <tr>
                                                    <td colspan="3" style="text-align: right; font-size: 18px !important;"><b>GRAND TOTAL</b></td>
                                                    <td><span id="grandtotal">-</span><input type="hidden" id="grandtotal-hidden"></td>
                                                </tr> 
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.row -->
                                </div>

                                <div class="box-footer">
                                    <div class="pull-left">
                                        <a href="{{ site_url('order/new_order/lokasi') }}" class="btn btn-default"><i class="fa fa-chevron-left"></i>Kembali ke Lokasi</a>
                                    </div>
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-template-main">Lanjutkan ke Furnitur<i class="fa fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box -->


                    </div>
                    <!-- /.col-md-9 -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            // show hide div
            $('input[type=radio]').change(function(){
                var $this = $(this);
                if($this.val() == 'y'){
                    $('#package').show();
                    $('#custom').hide();
                    $('#no').prop('checked', false);
                }
                else{
                    $('#package').hide();
                    $('#custom').show();
                    $('#yes').prop('checked', false);
                }
            });

            // filling custom price
            $('.custom-qty').change(function() {
                var id = $(this).attr('data-id');
                var price = parseInt($(this).attr('data-price'));
                var qty = parseInt($(this).val());
                if((price*qty) > 0){
                    $('#subtotal-custom-' + id).text('Rp ' + (price*qty).formatMoney(2, ',', '.'));
                    $('#subtotal-custom-hidden-' + id).val(price*qty);
                }
                else{
                    $('#subtotal-custom-' + id).text('-');
                    $('#subtotal-custom-hidden-' + id).val(0);
                }
                evaluateSubTotalCustom();
                evaluateGrandTotal();
            });

            // filling extra price
            $('.extra-qty').change(function() {
                var id = $(this).attr('data-id');
                var price = parseInt($(this).attr('data-price'));
                var qty = parseInt($(this).val());
                if((price*qty) > 0){
                    $('#subtotal-extra-' + id).text('Rp ' + (price*qty).formatMoney(2, ',', '.'));
                    $('#subtotal-extra-hidden-' + id).val(price*qty);
                }
                else{
                    $('#subtotal-extra-' + id).text('-');
                    $('#subtotal-extra-hidden-' + id).val(0);
                }
                evaluateSubTotalExtra();
                evaluateGrandTotal();
            });
        });

        function evaluateSubTotalCustom()
        {
            var subtotal = 0;
            $('.subtotal-custom').each(function(id, el){
                var $row = $(el);
                if($row.val() != ""){
                    subtotal += parseInt($row.val());
                }
            });
            if(subtotal > 0){
                $('#grandtotal-custom').text('Rp ' + (subtotal).formatMoney(2, ',', '.'));
                $('#grandtotal-custom-hidden').val(subtotal);
            }
            else{
                $('#grandtotal-custom').text('-');
                $('#grandtotal-custom-hidden').val(0);
            }
        }

        function evaluateSubTotalExtra()
        {
            var subtotal = 0;
            $('.subtotal-extra').each(function(id, el){
                var $row = $(el);
                if($row.val() != ""){
                    subtotal += parseInt($row.val());
                }
            });
            if(subtotal > 0){
                $('#grandtotal-extra').text('Rp ' + (subtotal).formatMoney(2, ',', '.'));
                $('#grandtotal-extra-hidden').val(subtotal);
            }
            else{
                $('#grandtotal-extra').text('-');
                $('#grandtotal-extra-hidden').val(0);
            }
        }

        function evaluateGrandTotal()
        {
            var custom = $('#grandtotal-custom-hidden').val() == '' ? 0 : parseInt($('#grandtotal-custom-hidden').val());
            var extra = $('#grandtotal-extra-hidden').val() == '' ? 0 : parseInt($('#grandtotal-extra-hidden').val());
            var grandtotal = custom + extra;

            if(grandtotal > 0){
                $('#grandtotal').text('Rp ' + (grandtotal).formatMoney(2, ',', '.'));
                $('#grandtotal-hidden').val(grandtotal);
            }
            else{
                $('#grandtotal').text('-');
                $('#grandtotal-hidden').val(0);
            }
        }

        // selecting package to hidden field
        function selectPackage(pid) {
            $('#package_id').val(pid);
            $('.btn-template-main').removeClass('active');
            if(pid != 0 && pid != '') {
                $('#btn-' + pid).addClass('active');
            }
        }
    </script>
{% endblock %}