{% extends "masterpages/layout.html" %}
{% block body %}
					<div class="col-md-10 col-md-offset-1" id="checkout">

                        <div class="box">
                            <form method="post" action="{{ site_url('order/nextstep/harga') }}" id="formLokasi">

                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="{{ site_url('order/new_order/umum') }}"><i class="fa fa-user"></i><br>Info Umum</a>
                                    </li>
                                    <li class="active"><a href="#"><i class="fa fa-map-marker"></i><br>Lokasi</a>
                                    </li>
                                    <li class="disabled"><a href="#"><i class="fa fa-money"></i><br>Harga</a>
                                    </li>
                                    <li class="disabled"><a href="#"><i class="fa fa-truck"></i><br>Furnitur</a>
                                    </li>
                                    <li class="disabled"><a href="#"><i class="fa fa-list-alt"></i><br>Ringkasan</a>
                                    </li>
                                </ul>

                                <div class="content">
                                    <div class="row">
                                        <div class="form-group">
											<div class="col-md-12">
												<input id="origin-input" name="pickup_address" class="controls" type="text" placeholder="Lokasi penjemputan" onkeydown="if (event.keyCode == 13) return false">
											    <input id="destination-input" name="destination_address" class="controls" type="text" placeholder="Lokasi tujuan"  onkeydown="if (event.keyCode == 13) return false">

												<div id="map"></div>
												<h5 id="distance-approx">Anda belum memasukkan lokasi penjemputan dan tujuan.</h5>
                                                <input type="hidden" id="distance" name="distance" value="" required=""></input>
                                                <input type="hidden" id="start_location" name="start_location" value="" required=""></input>
												<input type="hidden" id="end_location" name="end_location" value="" required=""></input>
											</div>
										</div>
                                    </div>
                                    <!-- /.row -->
                                    <div class="row">
				                        <div class="col-md-12">
				                            <div class="heading">
				                                <h3>Alamat Detail</h3>
												<p class="leads muted">Masukkan nama jalan dan nomor rumah serta keterangan tambahan yang diperlukan.</p>
				                            </div>
				                        </div>
				                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="start_address">Alamat penjemputan</label>
                                                <textarea class="form-control" id="start_address" name="start_address" required="">{{ session.userdata.order.start_address }}</textarea>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="end_address">Alamat tujuan</label>
                                                <textarea class="form-control" id="end_address" name="end_address" required="">{{ session.userdata.order.end_address }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </div>

                                <div class="box-footer">
                                    <div class="pull-left">
                                        <a href="{{ site_url('order/new_order/umum') }}" class="btn btn-default"><i class="fa fa-chevron-left"></i>Kembali ke Info Umum</a>
                                    </div>
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-template-main">Lanjutkan ke Harga<i class="fa fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box -->


                    </div>
                    <!-- /.col-md-9 -->
{% endblock %}

{% block scripts %}

    <!-- gmaps -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBX9fsSNoG8GGq2lPmgw7Vw8ZU0hkjTGU&libraries=places&callback=initMap"
        async defer></script>
	<script src="{{ asset_url() }}frontend/js/maps.js"></script>

    <!-- gmaps end -->

    <script>
        // jquery validate
        $('#formLokasi').validate({
            ignore: [],
            messages: {
                distance: {
                    required: 'Harap isi prakiraan jarak terlebih dahulu.<br/>'
                },
                start_location: {
                    required: 'Harap pilih lokasi penjemputan pada peta.<br/>'
                },
                end_location: {
                    required: 'Harap pilih lokasi tujuan pada peta.<br/>'
                }
            }
        });
    </script>

{% endblock %}