{% extends "masterpages/layout.html" %}
{% block body %}
					<div class="col-md-10 col-md-offset-1" id="checkout">
                        <div class="box">
                        <ul  class="nav nav-pills nav-justified">
                            <li id="1a-nav" class="active">
                                <a href="#1a" data-toggle="tab"><i class="fa fa-user"></i><br>Info Umum</a></a>
                            </li>
                            <li id="2a-nav"><a href="#2a" data-toggle="tab"><i class="fa fa-map-marker"></i><br>Lokasi</a>
                            </li>
                            <li id="3a-nav"><a href="#3a" data-toggle="tab"><i class="fa fa-money"></i><br>Harga</a>
                            </li>
                            <li id="4a-nav"><a href="#4a" data-toggle="tab"><i class="fa fa-truck"></i><br>Furnitur</a>
                            </li>
                            <li id="5a-nav"><a href="#5a" data-toggle="tab"><i class="fa fa-list-alt"></i><br>Ringkasan</a>
                            </li>
                        </ul>

                        <div class="tab-content clearfix">
                            <!-- TAB UMUM -->
                            <div class="tab-pane active" id="1a">
                                {% set error = session.flashdata.msg %}
                                {% if error %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>Oops! Terjadi kesalahan: </strong>
                                    {{ error }}
                                </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="fullname">Nama Lengkap *</label>
                                            <input type="text" class="form-control" id="fullname" name="fullname" value="{{ session.userdata.user.fullname }}" required="" minlength="3" maxlength="200" />
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="move_date">Tanggal Pindah *</label>
                                            <input type="text" class="form-control datepicker" id="movedate" name="move_date" required="" value="{{ session.userdata.order.move_date }}"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="phone">Nomor Telepon/HP *</label>
                                            <input type="text" class="form-control" id="phone" name="phone" value="{{ session.userdata.user.phone }}" />
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="move_time">Waktu Pindah *</label>
                                            <input type="text" class="form-control timepicker" id="movetime" name="move_time" required="" value="{{ session.userdata.order.move_time }}"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="phone">Catatan Tambahan</label>
                                            <textarea class="form-control" id="notes" name="notes" placeholder="Tambahkan keterangan pindahan seperti kesulitan saat penjemputan, keterangan lokasi dan keterangan area parkir untuk transportasi kami di kolom ini.">{{ session.userdata.order.notes }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="blueprint">Denah Ruangan Lokasi Tujuan</label>
                                            <input type="file" id="blueprint" name="blueprint" />
                                            <p class="help-block">Upload file denah ruangan rumah/kost/apartemen tujuan anda sesuai keinginan anda jika anda akan menggunakan jasa penataan ruangan.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                                <div class="box-footer">
                                    <div class="pull-left">
                                        <a href="{{ site_url('order/order_list') }}" class="btn btn-default"><i class="fa fa-chevron-left"></i>Batal pesan</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#2a" data-toggle="tab" class="btn btn-template-main" onclick="changeTab('1a', '2a');">Lanjutkan ke Lokasi <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- TAB UMUM END -->
                            <!-- TAB LOKASI -->
                            <div class="tab-pane" id="2a">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12" id="mapcontainer">
                                            <input id="origin-input" name="pickup_address" class="controls" type="text" placeholder="Lokasi penjemputan" onkeydown="if (event.keyCode == 13) return false">
                                            <input id="destination-input" name="destination_address" class="controls" type="text" placeholder="Lokasi tujuan"  onkeydown="if (event.keyCode == 13) return false">

                                            <div id="map"></div>
                                            <h5 id="distance-approx">Anda belum memasukkan lokasi penjemputan dan tujuan.</h5>
                                            <input type="hidden" id="distance" name="distance" value="" required=""></input>
                                            <input type="hidden" id="start_location" name="start_location" value="" required=""></input>
                                            <input type="hidden" id="end_location" name="end_location" value="" required=""></input>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="heading">
                                            <h3>Alamat Detail</h3>
                                            <p class="leads muted">Masukkan nama jalan dan nomor rumah serta keterangan tambahan yang diperlukan.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="start_address">Alamat penjemputan</label>
                                            <textarea class="form-control" id="start_address" name="start_address" required="">{{ session.userdata.order.start_address }}</textarea>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="end_address">Alamat tujuan</label>
                                            <textarea class="form-control" id="end_address" name="end_address" required="">{{ session.userdata.order.end_address }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- TAB LOKASI END -->
                            <!-- TAB HARGA -->
                            <div class="tab-pane" id="3a">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="firstname">Apakah anda ingin menggunakan paket?</label>
                                            <div class="radio">
                                              <label><input type="radio" id="yes" checked="" value="y" onclick="selectPackage('')">Ya</label>
                                            </div>
                                            <div class="radio">
                                              <label><input type="radio" id="no" value="n" onclick="selectPackage(0)">Tidak</label>
                                            </div>
                                            <input type="hidden" id="package_id" name="package_id" value="" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row packages" id="package">

                                    {% for package in packages %}
                                        {% autoescape %}
                                        {% set divBest = '<div class="best-value">' %}
                                        {% set divBestClose = '</div>' %}
                                        {% set metaBest = '<div class="meta-text">Best Value</div>' %}
                                        {% set notavail = '<i class="fa fa-times"></i>' %}
                                        <div class="col-md-3">
                                            {{ (package.is_best_offer? divBest: '') | raw }}
                                            <div class="package ">
                                                <div class="package-header">
                                                    <h5>{{ package.name }}</h5>
                                                    {{ (package.is_best_offer? metaBest: '') | raw }}
                                                </div>
                                                <div class="price">
                                                    <div class="price-container">
                                                        <h4>Rp {{ package.price | number_format(0, '', '.') }}</h4>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li><i class="fa fa-check"></i>{{ package.transportation }} {{ package.vehicle.name }}</li>
                                                    <li><i class="fa fa-check"></i>Gratis {{ package.distance }} km pertama</li>
                                                    <li>{{ (package.employee > 0? package.employee : notavail) | raw }} Tenaga kerja</li>
                                                    <li>{{ (package.box > 0? package.box : notavail) | raw }} Kardus</li>
                                                </ul>
                                                <a class="btn btn-template-main" id="btn-{{ package.id }}" onclick="selectPackage({{ package.id }})">Pilih</a>
                                            </div>
                                            {{ (package.is_best_offer? divBestClose: '') | raw }}
                                        </div>
                                        {% endautoescape %}
                                    {% endfor %}
                                </div>
                                <div class="row" id="custom" style="display: none;">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="30%">Barang/Jasa</th>
                                                <th width="30%">Harga Satuan (Rp)</th>
                                                <th width="23%">Pemesanan (Qty)</th>
                                                <th>Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-custom-price">
                                            {% for custom in customs %}
                                            {% autoescape %}
                                            {% set m3 = 'm<sup>3</sup>' %}
                                            <tr>
                                                <th>{{ custom.name }} {{ (custom.volume > 0? '(muatan: ' ~ custom.volume ~ ' ' ~ m3 ~ ')' : '') | raw }}</th>
                                                <td>{{ custom.price | number_format(0, '', '.') }}</td>
                                                <td>
                                                    <input type="hidden" name="custom_id[]" value="{{ custom.id }}" />
                                                    <input type="number" class="custom-qty" data-id="{{ custom.id }}" data-price="{{ custom.price }}" name="custom[]" value="0" min="0" max="{{ custom.max_qty }}"></input>&nbsp;/{{ custom.max_qty }}</td>
                                                <td><span id="subtotal-custom-{{ custom.id }}">-</span><input type="hidden" class="subtotal-custom" id="subtotal-custom-hidden-{{ custom.id }}"></td>
                                            </tr> 
                                            {% endautoescape %}
                                            {% endfor %}
                                            <tr>
                                                <td colspan="3" style="text-align: right; font-size: 16px !important;"><b>TOTAL</b></td>
                                                <td><span id="grandtotal-custom">-</span><input type="hidden" id="grandtotal-custom-hidden"></td>
                                            </tr>
                                            <tr>
                                                <th><i class="fa fa-clock-o"></i> Estimasi Pengerjaan</th>
                                                <td colspan="3">3 jam</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    Catatan: 
                                                    <ul>
                                                        <li>Tenaga kerja dapat melakukan packing, angkut, dan penataan.</li>
                                                        <li>Harga tertera belum termasuk uang tambahan tips.</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <h4>Perlengkapan Tambahan</h4>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="30%">Barang/Jasa</th>
                                                <th width="30%">Harga Satuan (Rp)</th>
                                                <th width="23%">Pemesanan (Qty)</th>
                                                <th>Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-extra-price">
                                            {% for extra in extras %}
                                            <tr>
                                                <th>{{ extra.name }}</th>
                                                <td>{{ extra.price | number_format(0, '', '.') }}</td>
                                                <td>
                                                    <input type="hidden" name="extra_id[]" value="{{ extra.id }}" />
                                                    <input type="number" class="extra-qty" data-id="{{ extra.id }}" data-price="{{ extra.price }}" name="extra[]" value="0" min="0" max="20"></input></td>
                                                <td><span id="subtotal-extra-{{ extra.id }}">-</span><input type="hidden" class="subtotal-extra" id="subtotal-extra-hidden-{{ extra.id }}"></td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td colspan="3" style="text-align: right; font-size: 16px !important;"><b>TOTAL</b></td>
                                                <td><span id="grandtotal-extra">-</span><input type="hidden" id="grandtotal-extra-hidden"></td>
                                            </tr> 
                                            <tr>
                                                <td colspan="3" style="text-align: right; font-size: 18px !important;"><b>GRAND TOTAL</b></td>
                                                <td><span id="grandtotal">-</span><input type="hidden" id="grandtotal-hidden"></td>
                                            </tr> 
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- TAB HARGA END -->
                            <!-- TAB FURNITUR -->
                            <div class="tab-pane" id="4a">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="firstname">Jenis Furnitur</label>
                                                            <select class="form-control" id="appliances">
                                                                <option value="">Pilih jenis perabotan</option>
                                                                {% for furniture in furnitures %}
                                                                <option value="{{ furniture.id }}">{{ furniture.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="city">Ukuran</label>
                                                        <select class="form-control" id="sizes">
                                                            <option value="">Pilih ukuran</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2" style="padding-top: 3%;">
                                                        <button type="button" id="btn-add" class="btn btn-template-main"><i class="fa fa-plus"></i> Tambah</button>
                                                </div>
                                                <div class="col-sm-2">
                                                    <table class="table">
                                                        <tr>
                                                            <th class="text-right">Volume tersedia</th>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">
                                                                <span id="total_volume_text">{{ total_volume }}</span> m<sup>3</sup>
                                                                <input type="hidden" id="total_volume" value="{{ total_volume }}">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- /.row -->
                                            <div class="row" id="custom-volume" style="display: none;">
                                                <div class="col-sm-2">
                                                    <h5>Masukkan ukuran furnitur</h5>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Panjang</label>
                                                        <div class="input-group">
                                                            <input type="number" class="form-control volume-compo" id="l" value="0" min="0">
                                                            <span class="input-group-addon">m</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Lebar</label>
                                                        <div class="input-group">
                                                            <input type="number" class="form-control volume-compo" id="w" value="0" min="0">
                                                            <span class="input-group-addon">m</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Tinggi</label>
                                                        <div class="input-group">
                                                            <input type="number" class="form-control volume-compo" id="h" value="0" min="0">
                                                            <span class="input-group-addon">m</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Volume</label>
                                                        <input type="text" class="form-control" id="v" readonly="" placeholder="Volume Furnitur">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <p id="no-appliances" class="text-center">Anda belum menambahkan furnitur.</p>
                                            <table id="table-appliances" class="table table-bordered table-hover" style="display: none;">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 30%;">Jenis Perabotan</th>
                                                        <th style="width: 25%">Ukuran</th>
                                                        <th style="width: 25%">Volume</th>
                                                        <th style="width: 15%">Jumlah</th>
                                                        <th style="width: 5%">Hapus</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="appliance-row">
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                </div>
                            </div>
                            <!-- TAB FURNITUR END -->
                            <!-- TAB RINGKASAN -->
                            <div class="tab-pane" id="5a">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2>PESANAN PINDAHAN ANDA</h2>
                                        <p class="text-muted">Harap pastikan lagi informasi pindahan anda sudah benar.</p>
                                    </div>
                                </div>


                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="table-responsive">
                                            <h4>Info Umum</h4>
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>Nama pemesan</td>
                                                        <th><span id="txtfullname"></span></th>
                                                    </tr>
                                                    <tr>
                                                        <td>Nomor HP</td>
                                                        <th><span id="txtphone"></span></th>
                                                    </tr>
                                                    <tr>
                                                        <td>Tanggal Pindahan</td>
                                                        <th><span id="txtmovedate"></span></th>
                                                    </tr>
                                                    <tr>
                                                        <td>Waktu Pindahan</td>
                                                        <th><span id="txtmovetime"></span></th>
                                                    </tr>
                                                    <tr>
                                                        <td>Catatan Tambahan</td>
                                                        <th><span id="txtnotes"></span></th>
                                                    </tr>
                                                    <tr>
                                                        <td>Denah Ruangan Lokasi Tujuan</td>
                                                        <th>
                                                            <img src="" alt="" id="imgblueprint">
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-right"><a href="{{ site_url('order/new_order/umum') }}"><i class="fa fa-pencil"></i> Ubah informasi</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="table-responsive">
                                            <h4>Lokasi</h4>
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>Alamat penjemputan</th>
                                                    </tr>
                                                    <tr>
                                                        <td><span id="txtstartaddress"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Alamat penjemputan</th>
                                                    </tr>
                                                    <tr>
                                                        <td><span id="txtendaddress"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right"><a href="{{ site_url('order/new_order/lokasi') }}"><i class="fa fa-pencil"></i> Ubah informasi</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <hr>
                            </div>
                            <!-- TAB RINGKASAN END -->
                        </div>

                        </div>
                    </div>

                        {# <div class="box">

                                <ul class="nav nav-pills nav-justified">
                                    <li class="active"><a href="#umum" data-toogle="pill"><i class="fa fa-user"></i><br>Info Umum</a>
                                    </li>
                                    <li><a href="#lokasi" data-toogle="pill"><i class="fa fa-map-marker"></i><br>Lokasi</a>
                                    </li>
                                    <li><a href="#harga" data-toogle="pill"><i class="fa fa-money"></i><br>Harga</a>
                                    </li>
                                    <li><a href="#furnitur" data-toogle="pill"><i class="fa fa-truck"></i><br>Furnitur</a>
                                    </li>
                                    <li><a href="#ringkasan" data-toogle="pill"><i class="fa fa-list-alt"></i><br>Ringkasan</a>
                                    </li>
                                </ul>
                                
                                <div class="tab-content clearfix">

                                    <!-- TAB UMUM -->
                                    <div class="tab-pane active" id="umum">
                                        {% set error = session.flashdata.msg %}
                                        {% if error %}
                                        <div class="alert alert-danger alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <strong>Oops! Terjadi kesalahan: </strong>
                                            {{ error }}
                                        </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="fullname">Nama Lengkap *</label>
                                                    <input type="text" class="form-control" id="fullname" name="fullname" value="{{ session.userdata.user.fullname }}" required="" minlength="3" maxlength="200" />
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="move_date">Tanggal Pindah *</label>
                                                    <input type="text" class="form-control datepicker" id="move_date" name="move_date" required="" value="{{ session.userdata.order.move_date }}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.row -->

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="phone">Nomor Telepon/HP *</label>
                                                    <input type="text" class="form-control" id="phone" name="phone" value="{{ session.userdata.user.phone }}" />
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="move_time">Waktu Pindah *</label>
                                                    <input type="text" class="form-control timepicker" id="move_time" name="move_time" required="" value="{{ session.userdata.order.move_time }}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.row -->

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="phone">Catatan Tambahan</label>
                                                    <textarea class="form-control" id="notes" name="notes" placeholder="Tambahkan keterangan pindahan seperti kesulitan saat penjemputan, keterangan lokasi dan keterangan area parkir untuk transportasi kami di kolom ini.">{{ session.userdata.order.notes }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.row -->

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="blueprint">Denah Ruangan Lokasi Tujuan</label>
                                                    <input type="file" id="blueprint" name="blueprint" />
                                                    <p class="help-block">Upload file denah ruangan rumah/kost/apartemen tujuan anda sesuai keinginan anda jika anda akan menggunakan jasa penataan ruangan.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- TAB UMUM END -->
                                    <!-- TAB LOKASI -->
                                    <div class="tab-pane" id="lokasi">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input id="origin-input" name="pickup_address" class="controls" type="text" placeholder="Lokasi penjemputan" onkeydown="if (event.keyCode == 13) return false">
                                                    <input id="destination-input" name="destination_address" class="controls" type="text" placeholder="Lokasi tujuan"  onkeydown="if (event.keyCode == 13) return false">

                                                    <div id="map"></div>
                                                    <h5 id="distance-approx">Anda belum memasukkan lokasi penjemputan dan tujuan.</h5>
                                                    <input type="hidden" id="distance" name="distance" value="" required=""></input>
                                                    <input type="hidden" id="start_location" name="start_location" value="" required=""></input>
                                                    <input type="hidden" id="end_location" name="end_location" value="" required=""></input>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="heading">
                                                    <h3>Alamat Detail</h3>
                                                    <p class="leads muted">Masukkan nama jalan dan nomor rumah serta keterangan tambahan yang diperlukan.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="start_address">Alamat penjemputan</label>
                                                    <textarea class="form-control" id="start_address" name="start_address" required="">{{ session.userdata.order.start_address }}</textarea>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="end_address">Alamat tujuan</label>
                                                    <textarea class="form-control" id="end_address" name="end_address" required="">{{ session.userdata.order.end_address }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- TAB LOKASI END -->
                                    <!-- TAB HARGA -->
                                    <div class="tab-pane" id="harga">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="firstname">Apakah anda ingin menggunakan paket?</label>
                                                    <div class="radio">
                                                      <label><input type="radio" id="yes" checked="" value="y" onclick="selectPackage('')">Ya</label>
                                                    </div>
                                                    <div class="radio">
                                                      <label><input type="radio" id="no" value="n" onclick="selectPackage(0)">Tidak</label>
                                                    </div>
                                                    <input type="hidden" id="package_id" name="package_id" value="" required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row packages" id="package">

                                            {% for package in packages %}
                                                {% autoescape %}
                                                {% set divBest = '<div class="best-value">' %}
                                                {% set divBestClose = '</div>' %}
                                                {% set metaBest = '<div class="meta-text">Best Value</div>' %}
                                                {% set notavail = '<i class="fa fa-times"></i>' %}
                                                <div class="col-md-3">
                                                    {{ (package.is_best_offer? divBest: '') | raw }}
                                                    <div class="package ">
                                                        <div class="package-header">
                                                            <h5>{{ package.name }}</h5>
                                                            {{ (package.is_best_offer? metaBest: '') | raw }}
                                                        </div>
                                                        <div class="price">
                                                            <div class="price-container">
                                                                <h4>Rp {{ package.price | number_format(0, '', '.') }}</h4>
                                                            </div>
                                                        </div>
                                                        <ul>
                                                            <li><i class="fa fa-check"></i>{{ package.transportation }} {{ package.vehicle.name }}</li>
                                                            <li><i class="fa fa-check"></i>Gratis {{ package.distance }} km pertama</li>
                                                            <li>{{ (package.employee > 0? package.employee : notavail) | raw }} Tenaga kerja</li>
                                                            <li>{{ (package.box > 0? package.box : notavail) | raw }} Kardus</li>
                                                        </ul>
                                                        <a class="btn btn-template-main" id="btn-{{ package.id }}" onclick="selectPackage({{ package.id }})">Pilih</a>
                                                    </div>
                                                    {{ (package.is_best_offer? divBestClose: '') | raw }}
                                                </div>
                                                {% endautoescape %}
                                            {% endfor %}
                                        </div>
                                        <div class="row" id="custom" style="display: none;">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="30%">Barang/Jasa</th>
                                                        <th width="30%">Harga Satuan (Rp)</th>
                                                        <th width="23%">Pemesanan (Qty)</th>
                                                        <th>Subtotal</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="table-custom-price">
                                                    {% for custom in customs %}
                                                    {% autoescape %}
                                                    {% set m3 = 'm<sup>3</sup>' %}
                                                    <tr>
                                                        <th>{{ custom.name }} {{ (custom.volume > 0? '(muatan: ' ~ custom.volume ~ ' ' ~ m3 ~ ')' : '') | raw }}</th>
                                                        <td>{{ custom.price | number_format(0, '', '.') }}</td>
                                                        <td>
                                                            <input type="hidden" name="custom_id[]" value="{{ custom.id }}" />
                                                            <input type="number" class="custom-qty" data-id="{{ custom.id }}" data-price="{{ custom.price }}" name="custom[]" value="0" min="0" max="{{ custom.max_qty }}"></input>&nbsp;/{{ custom.max_qty }}</td>
                                                        <td><span id="subtotal-custom-{{ custom.id }}">-</span><input type="hidden" class="subtotal-custom" id="subtotal-custom-hidden-{{ custom.id }}"></td>
                                                    </tr> 
                                                    {% endautoescape %}
                                                    {% endfor %}
                                                    <tr>
                                                        <td colspan="3" style="text-align: right; font-size: 16px !important;"><b>TOTAL</b></td>
                                                        <td><span id="grandtotal-custom">-</span><input type="hidden" id="grandtotal-custom-hidden"></td>
                                                    </tr>
                                                    <tr>
                                                        <th><i class="fa fa-clock-o"></i> Estimasi Pengerjaan</th>
                                                        <td colspan="3">3 jam</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4">
                                                            Catatan: 
                                                            <ul>
                                                                <li>Tenaga kerja dapat melakukan packing, angkut, dan penataan.</li>
                                                                <li>Harga tertera belum termasuk uang tambahan tips.</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <h4>Perlengkapan Tambahan</h4>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="30%">Barang/Jasa</th>
                                                        <th width="30%">Harga Satuan (Rp)</th>
                                                        <th width="23%">Pemesanan (Qty)</th>
                                                        <th>Subtotal</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="table-extra-price">
                                                    {% for extra in extras %}
                                                    <tr>
                                                        <th>{{ extra.name }}</th>
                                                        <td>{{ extra.price | number_format(0, '', '.') }}</td>
                                                        <td>
                                                            <input type="hidden" name="extra_id[]" value="{{ extra.id }}" />
                                                            <input type="number" class="extra-qty" data-id="{{ extra.id }}" data-price="{{ extra.price }}" name="extra[]" value="0" min="0" max="20"></input></td>
                                                        <td><span id="subtotal-extra-{{ extra.id }}">-</span><input type="hidden" class="subtotal-extra" id="subtotal-extra-hidden-{{ extra.id }}"></td>
                                                    </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td colspan="3" style="text-align: right; font-size: 16px !important;"><b>TOTAL</b></td>
                                                        <td><span id="grandtotal-extra">-</span><input type="hidden" id="grandtotal-extra-hidden"></td>
                                                    </tr> 
                                                    <tr>
                                                        <td colspan="3" style="text-align: right; font-size: 18px !important;"><b>GRAND TOTAL</b></td>
                                                        <td><span id="grandtotal">-</span><input type="hidden" id="grandtotal-hidden"></td>
                                                    </tr> 
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- TAB HARGA END -->
                                    <!-- TAB FURNITUR -->
                                    <div class="tab-pane" id="furnitur">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="box">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="firstname">Jenis Furnitur</label>
                                                                    <select class="form-control" id="appliances">
                                                                        <option value="">Pilih jenis perabotan</option>
                                                                        {% for furniture in furnitures %}
                                                                        <option value="{{ furniture.id }}">{{ furniture.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="city">Ukuran</label>
                                                                <select class="form-control" id="sizes">
                                                                    <option value="">Pilih ukuran</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-2" style="padding-top: 3%;">
                                                                <button type="button" id="btn-add" class="btn btn-template-main"><i class="fa fa-plus"></i> Tambah</button>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <table class="table">
                                                                <tr>
                                                                    <th class="text-right">Volume tersedia</th>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-right">
                                                                        <span id="total_volume_text">{{ total_volume }}</span> m<sup>3</sup>
                                                                        <input type="hidden" id="total_volume" name="total_volume" value="{{ total_volume }}">
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <!-- /.row -->
                                                    <div class="row" id="custom-volume" style="display: none;">
                                                        <div class="col-sm-2">
                                                            <h5>Masukkan ukuran furnitur</h5>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label>Panjang</label>
                                                                <div class="input-group">
                                                                    <input type="number" class="form-control volume-compo" id="l" value="0" min="0">
                                                                    <span class="input-group-addon">m</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label>Lebar</label>
                                                                <div class="input-group">
                                                                    <input type="number" class="form-control volume-compo" id="w" value="0" min="0">
                                                                    <span class="input-group-addon">m</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label>Tinggi</label>
                                                                <div class="input-group">
                                                                    <input type="number" class="form-control volume-compo" id="h" value="0" min="0">
                                                                    <span class="input-group-addon">m</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label>Volume</label>
                                                                <input type="text" class="form-control" id="v" readonly="" placeholder="Volume Furnitur">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <p id="no-appliances" class="text-center">Anda belum menambahkan furnitur.</p>
                                                    <table id="table-appliances" class="table table-bordered table-hover" style="display: none;">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 30%;">Jenis Perabotan</th>
                                                                <th style="width: 25%">Ukuran</th>
                                                                <th style="width: 25%">Volume</th>
                                                                <th style="width: 15%">Jumlah</th>
                                                                <th style="width: 5%">Hapus</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="appliance-row">
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- /.row -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- TAB FURNITUR END -->
                                    <!-- TAB RINGKASAN -->
                                    <div class="tab-pane" id="ringkasan">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h2>PESANAN PINDAHAN ANDA</h2>
                                                <p class="text-muted">Harap pastikan lagi informasi pindahan anda sudah benar.</p>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                        
                                    </div>
                                    <!-- TAB RINGKASAN END -->

                                </div>

                        </div>#}
                        <!-- /.box -->


                    </div>
                    <!-- /.col-md-9 -->
{% endblock %}
{% block scripts %}

    <!-- gmaps -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBX9fsSNoG8GGq2lPmgw7Vw8ZU0hkjTGU&libraries=places&callback=initMap"
        async defer></script>
    <script src="{{ asset_url() }}frontend/js/maps.js"></script>

    <!-- gmaps end -->

    <script src="{{ asset_url() }}frontend/js/modules/order/harga.js"></script>
    <script src="{{ asset_url() }}frontend/js/modules/order/furnitur.js"></script>

<script>
    var now = new Date();
    $(function () {
        $('.datepicker').datetimepicker({
            format: 'L',
            minDate: new Date(now.getFullYear(), now.getMonth(), now.getDate()+1)
        });
        $('.timepicker').datetimepicker({
            format: 'LT',
            stepping: 30
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var href = $(this).prop('href').split('#')[1];
            if (href == '2a') {
                $('#mapcontainer').append('<input id="origin-input" name="pickup_address" class="controls" type="text" placeholder="Lokasi penjemputan" onkeydown="if (event.keyCode == 13) return false"><input id="destination-input" name="destination_address" class="controls" type="text" placeholder="Lokasi tujuan"  onkeydown="if (event.keyCode == 13) return false">')
                initMap();
            }
            else if (href == '5a') {
                $('#txtfullname').text($('#fullname').val());
                $('#txtphone').text($('#phone').val());
                $('#txtmovedate').text($('#movedate').val());
                $('#txtmovetime').text($('#movetime').val());
                $('#txtnotes').text($('#notes').val());
                readURL(document.getElementById('blueprint'));
            }
        });
    });

    function changeTab(from, to) {
        $('#' + from + "-nav").removeClass('active');
        $('#' + to + "-nav").addClass('active');
    }

    // get sizes for appliance
    $('#appliances').change(function() {
        $applianceID = $(this).val();
        $.ajax({
            url: '{{ site_url("order/get_size") }}/' + $applianceID,
            success: function(res) {
                if(res){
                    $('#sizes').empty();
                    $('#sizes').append('<option value="">Pilih ukuran</option>');
                    for (var i = 0; i < res.length; i++) {
                        $('#sizes').append('<option value="' + res[i].id + '-' + (res[i].length*res[i].width*res[i].height) + '">' + res[i].name + ' (' + res[i].length + 'm x ' + res[i].width + 'm x ' + res[i].height + 'm)</option>');
                    }
                    $('#sizes').append('<option value="0">Pilih ukuran sendiri</option>');
                }
            }
        });
    });

    var total_volume = {{ total_volume }};
    function countTotalVolume(v, mode){
        if(mode == 'sub' && total_volume - v < 0) {
            alert('Tidak bisa menambah furnitur karena volume yang tersedia sudah habis');
            return false;
        }

        if (mode == 'add') total_volume += v;
        else if (mode == 'sub') total_volume -= v;
        $('#total_volume_text').text(total_volume);
        return true;
    }

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgblueprint').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#formUmum').validate();
</script>
{% endblock %}