{% extends "masterpages/layout.html" %}
{% block body %}
                <div class="col-md-2">
                    <div class="well md-hide" style="position: fixed; width: 13%">
                        <h4>Menu</h4>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#1a">Informasi Umum</a></li>
                            <li><a href="#2a">Lokasi</a></li>
                            <li><a href="#3a">Harga</a></li>
                            <li><a href="#4a">Furnitur</a></li>
                        </ul>
                    </div>
                </div>
                <form action="{{ site_url('order/summary') }}" id="formOrder" method="post" enctype="multipart/form-data">
                <div class="col-md-10" id="checkout">
                    <div class="box">
                        <!-- TAB UMUM -->
                        <div id="1a" class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Informasi Umum</h3>
                            </div>
                            <div class="panel-body">
                                {% set error = session.flashdata.msg %}
                                {% if error %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>Oops! Terjadi kesalahan: </strong>
                                        {{ error }}
                                    </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="fullname">Nama Lengkap *</label>
                                            <input type="text" class="form-control" id="fullname" name="fullname" value="{{ session.userdata.user.fullname }}" required="" minlength="3" maxlength="200" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="move_date">Tanggal Pindah *</label>
                                            <input type="text" class="form-control datepicker" id="movedate" name="move_date" required="" value="{{ session.userdata.order.move_date }}"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="phone">Nomor Telepon/HP *</label>
                                            <input type="text" class="form-control" id="phone" name="phone" value="{{ session.userdata.user.phone }}" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="move_time">Waktu Pindah *</label>
                                            <input type="text" class="form-control timepicker" id="movetime" name="move_time" required="" value="{{ session.userdata.order.move_time }}"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="phone">Catatan Tambahan</label>
                                            <textarea class="form-control" id="notes" name="notes" placeholder="Tambahkan keterangan pindahan seperti kesulitan saat penjemputan, keterangan lokasi dan keterangan area parkir untuk transportasi kami di kolom ini.">{{ session.userdata.order.notes }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="blueprint">Denah Ruangan Lokasi Tujuan</label>
                                            <input type="file" id="blueprint" name="blueprint" accept="image/*"/>
                                            <p class="help-block">Upload file denah ruangan rumah/kost/apartemen tujuan anda sesuai keinginan anda jika anda akan menggunakan jasa penataan ruangan.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- TAB UMUM END -->
                        <hr>
                        <!-- TAB LOKASI -->
                        <div id="2a" class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Lokasi</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12" id="mapcontainer">
                                            <input id="origin-input" name="pickup_address" class="controls" type="text" placeholder="Lokasi penjemputan" onkeydown="if (event.keyCode == 13) return false">
                                            <input id="destination-input" name="destination_address" class="controls" type="text" placeholder="Lokasi tujuan"  onkeydown="if (event.keyCode == 13) return false">
                                            <div id="map"></div>
                                            <h5 id="distance-approx">Anda belum memasukkan lokasi penjemputan dan tujuan.</h5>
                                            <input type="hidden" id="distance" name="distance" value="" required=""></input>
                                            <input type="hidden" class="ignore" id="start_location" name="start_location" value="" required=""></input>
                                            <input type="hidden" class="ignore" id="end_location" name="end_location" value="" required=""></input>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="heading">
                                            <h3>Alamat Detail</h3>
                                            <p class="leads muted">Masukkan nama jalan dan nomor rumah serta keterangan tambahan yang diperlukan.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="start_address">Alamat penjemputan</label>
                                            <textarea class="form-control" id="start_address" name="start_address" required="">{{ session.userdata.order.start_address }}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="end_address">Alamat tujuan</label>
                                            <textarea class="form-control" id="end_address" name="end_address" required="">{{ session.userdata.order.end_address }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- TAB LOKASI END -->
                        <hr>
                        <!-- TAB HARGA -->
                        <div id="3a" class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Harga</h3>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-warning hide alertHigherPrice">
                                    <strong>Perhatian! </strong>Anda akan dikenakan charge 20% dari total biaya karena pemesanan kurang dari 1 minggu.
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="firstname">Apakah anda ingin menggunakan paket?</label>
                                            <div class="radio">
                                                <label><input type="radio" id="yes" checked="" value="y" onclick="selectPackage('')">Ya</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" id="no" value="n" onclick="selectPackage(0)">Tidak</label>
                                            </div>
                                            <input type="hidden" id="package_id" name="package_id" value="" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row packages" id="package">
                                    {% for package in packages %}
                                        {% autoescape %}
                                        {% set divBest = '<div class="best-value">' %}
                                        {% set divBestClose = '</div>' %}
                                        {% set metaBest = '<div class="meta-text">Best Value</div>' %}
                                        {% set notavail = '<i class="fa fa-times"></i>' %}
                                        <div class="col-md-3">
                                            {{ (package.is_best_offer? divBest: '') | raw }}
                                            <div class="package ">
                                                <div class="package-header">
                                                    <h5>{{ package.name }}</h5>
                                                    {{ (package.is_best_offer? metaBest: '') | raw }}
                                                </div>
                                                <div class="price">
                                                    <div class="price-container">
                                                        <h4>Rp {{ package.price | number_format(0, '', '.') }}</h4>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li><i class="fa fa-check"></i>{{ package.transportation }} {{ package.vehicle.name }}</li>
                                                    <li><i class="fa fa-check"></i>Gratis {{ package.distance }} km pertama</li>
                                                    <li>{{ (package.employee > 0? package.employee : notavail) | raw }} Tenaga kerja</li>
                                                    <li>{{ (package.box > 0? package.box : notavail) | raw }} Kardus</li>
                                                </ul>
                                                <a class="btn btn-template-main" id="btn-{{ package.id }}" onclick="selectPackage({{ package.id }})">Pilih</a>
                                            </div>
                                            {{ (package.is_best_offer? divBestClose: '') | raw }}
                                        </div>
                                    {% endautoescape %}
                                {% endfor %}
                            </div>
                            <div class="row" id="custom" style="display: none;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="30%">Barang/Jasa</th>
                                            <th width="30%">Harga Satuan (Rp)</th>
                                            <th width="23%">Pemesanan (Qty)</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-custom-price">
                                        {% for custom in customs %}
                                            {% autoescape %}
                                            {% set m3 = 'm<sup>3</sup>' %}
                                            <tr>
                                                <th>{{ custom.name }} {{ (custom.volume > 0? '(muatan: ' ~ custom.volume ~ ' ' ~ m3 ~ ')' : '') | raw }}</th>
                                                <td>{{ custom.price | number_format(0, '', '.') }}</td>
                                                <td>
                                                    <input type="hidden" name="custom_id[]" value="{{ custom.id }}" />
                                                    <input type="number" class="custom-qty" data-id="{{ custom.id }}" data-price="{{ custom.price }}" data-volume="{{ custom.volume }}" name="custom[]" value="0" min="0" max="{{ custom.max_qty }}"></input>&nbsp;/{{ custom.max_qty }}</td>
                                                    <td><span id="subtotal-custom-{{ custom.id }}">-</span><input type="hidden" class="subtotal-custom" id="subtotal-custom-hidden-{{ custom.id }}"></td>
                                                </tr>
                                            {% endautoescape %}
                                        {% endfor %}
                                        <tr>
                                            <td colspan="3" style="text-align: right; font-size: 16px !important;"><b>TOTAL</b></td>
                                            <td><span id="grandtotal-custom">-</span><input type="hidden" id="grandtotal-custom-hidden"></td>
                                        </tr>
                                        <tr>
                                            <th><i class="fa fa-clock-o"></i> Estimasi Pengerjaan</th>
                                            <td colspan="3">
                                                <span id="estimated_time_text">{{ working_time }}</span> jam
                                                <input type="hidden" id="working_time" value="{{ working_time }}">
                                                <input type="hidden" id="estimated_time" name="duration" value="{{ estimated_time }}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                Catatan:
                                                <ul>
                                                    <li>Tenaga kerja dapat melakukan packing, angkut, dan penataan.</li>
                                                    <li>Harga tertera belum termasuk uang tambahan tips.</li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h4>Perlengkapan Tambahan</h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="30%">Barang/Jasa</th>
                                            <th width="30%">Harga Satuan (Rp)</th>
                                            <th width="23%">Pemesanan (Qty)</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-extra-price">
                                        {% for extra in extras %}
                                            <tr>
                                                <th>{{ extra.name }}</th>
                                                <td>{{ extra.price | number_format(0, '', '.') }}</td>
                                                <td>
                                                    <input type="hidden" name="extra_id[]" value="{{ extra.id }}" />
                                                    <input type="number" class="extra-qty" data-id="{{ extra.id }}" data-price="{{ extra.price }}" name="extra[]" value="0" min="0" max="20"></input></td>
                                                    <td><span id="subtotal-extra-{{ extra.id }}">-</span><input type="hidden" class="subtotal-extra" id="subtotal-extra-hidden-{{ extra.id }}"></td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td colspan="3" style="text-align: right; font-size: 16px !important;"><b>TOTAL</b></td>
                                                <td><span id="grandtotal-extra">-</span><input type="hidden" id="grandtotal-extra-hidden"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="text-align: right; font-size: 18px !important;"><b>GRAND TOTAL</b></td>
                                                <td>
                                                    <span class="grandtotal">-</span>
                                                    <input type="hidden" name="price" id="grandtotal-hidden">
                                                    <input type="hidden" name="higherPrice" id="higherPrice" value="0">
                                                </td>
                                            </tr>
                                            <tr class="alertHigherPrice">
                                                <td colspan="3" class="text-right"><strong>Perhatian</strong></td>
                                                <td>Total biaya anda dikenakan charga 20%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- TAB HARGA END -->
                        <hr>
                        <!-- TAB FURNITUR -->
                        <div id="4a" class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Furnitur</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="firstname">Jenis Furnitur</label>
                                                        <select class="form-control" id="appliances">
                                                            <option value="">Pilih jenis perabotan</option>
                                                            {% for furniture in furnitures %}
                                                                <option value="{{ furniture.id }}">{{ furniture.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="city">Ukuran</label>
                                                        <select class="form-control" id="sizes">
                                                            <option value="">Pilih ukuran</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="padding-top: 3%;">
                                                    <button type="button" id="btn-add" class="btn btn-template-main"><i class="fa fa-plus"></i> Tambah</button>
                                                </div>
                                                <div class="col-sm-2">
                                                    <table class="table">
                                                        <tr>
                                                            <th class="text-right">Volume tersedia</th>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">
                                                                <span id="total_volume_text">{{ total_volume }}</span> m<sup>3</sup>
                                                                <input type="hidden" id="total_volume" name="total_volume" value="{{ total_volume }}">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- /.row -->
                                            <div class="row" id="custom-volume" style="display: none;">
                                                <div class="col-sm-2">
                                                    <h5>Masukkan ukuran furnitur</h5>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Panjang</label>
                                                        <div class="input-group">
                                                            <input type="number" class="form-control volume-compo" id="l" value="0" min="0">
                                                            <span class="input-group-addon">m</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Lebar</label>
                                                        <div class="input-group">
                                                            <input type="number" class="form-control volume-compo" id="w" value="0" min="0">
                                                            <span class="input-group-addon">m</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Tinggi</label>
                                                        <div class="input-group">
                                                            <input type="number" class="form-control volume-compo" id="h" value="0" min="0">
                                                            <span class="input-group-addon">m</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Volume</label>
                                                        <input type="text" class="form-control" id="v" readonly="" placeholder="Volume Furnitur">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <p id="no-appliances" class="text-center">Anda belum menambahkan furnitur.</p>
                                            <table id="table-appliances" class="table table-bordered table-hover" style="display: none;">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 30%;">Jenis Perabotan</th>
                                                        <th style="width: 25%">Ukuran</th>
                                                        <th style="width: 25%">Volume</th>
                                                        <th style="width: 15%">Jumlah</th>
                                                        <th style="width: 5%">Hapus</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="appliance-row">
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- TAB FURNITUR END -->
                        <hr>
                        <div class="row text-center">
                            <button class="btn btn-template-main">Pesan</button>
                        </div>
                    </div>
                </div>
        <!-- /.col-md-9 -->
        </form>
{% endblock %}
{% block scripts %}

    <!-- gmaps -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBX9fsSNoG8GGq2lPmgw7Vw8ZU0hkjTGU&libraries=places&callback=initMap"
        async defer></script>
    <script src="{{ asset_url() }}frontend/js/maps.js"></script>

    <!-- gmaps end -->

    <script src="{{ asset_url() }}frontend/js/modules/order/harga.js"></script>
    <script src="{{ asset_url() }}frontend/js/modules/order/furnitur.js"></script>

<script>
    var now = new Date();
    $(function () {
        $('.datepicker').datetimepicker({
            format: 'L',
            minDate: addDays(now,1),
            defaultDate: addDays(now, 8)
        });
        $('.timepicker').datetimepicker({
            format: 'LT',
            stepping: 30
        });

        $('#movedate').on('dp.hide', checkDatetime);
        $('#movetime').on('dp.hide', checkDatetime);
    });


    // get sizes for appliance
    $('#appliances').change(function() {
        $applianceID = $(this).val();
        $.ajax({
            url: '{{ site_url("order/get_size") }}/' + $applianceID,
            success: function(res) {
                if(res){
                    $('#sizes').empty();
                    $('#sizes').append('<option value="">Pilih ukuran</option>');
                    for (var i = 0; i < res.length; i++) {
                        $('#sizes').append('<option value="' + res[i].id + '-' + (res[i].length*res[i].width*res[i].height) + '">' + res[i].name + ' (' + res[i].length + 'm x ' + res[i].width + 'm x ' + res[i].height + 'm)</option>');
                    }
                    $('#sizes').append('<option value="0">Pilih ukuran sendiri</option>');

                    $('#custom-volume').hide();
                }
            }
        });
    });

    var total_volume = {{ total_volume }};
    function countTotalVolume(v, mode){
        if(mode == 'sub' && total_volume - v < 0) {
            alert('Tidak bisa menambah furnitur karena volume yang tersedia sudah habis');
            return false;
        }

        if (mode == 'add') total_volume += v;
        else if (mode == 'sub') total_volume -= v;
        total_volume = Math.round(total_volume * 1000) / 1000;
        $('#total_volume_text').text(total_volume);
        return true;
    }

    $('#package_id').change(function(){
        if($(this).val() != '0') {
            var packageid = $(this).val();
            $.ajax({
                url: '{{ site_url("order/get_volume") }}/' + packageid,
                success: function(res){
                    $('#total_volume_text').text(res.volume);
                    $('#total_volume').val(res.volume);
                }
            });
        }
    });

    function addDays(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return result;
    }

    // check moving date & time
    var higherPrice = 0;
    function checkDatetime() {

        if($('#movedate').val() != '' && $('#movetime').val() != ''){
            var datetime = $('#movedate').val() + ' ' + $('#movetime').val();
            $.ajax({
                url: '{{ site_url("order/check_moving_time") }}',
                type: 'POST',
                data: {'datetime' : datetime},
                success: function(res) {
                    if(!res.available){
                        $('#movetime').val('');
                        alert('Harap pilih waktu yang lain karena waktu tersebut sudah dipesan atau di luar jam kerja Pindahan.');
                    }
                }
            });
        }

        // check if order is rushing
        var today = new Date();
        var oneweek = addDays(today, 7);
        var movedate = new Date($('#movedate').val() + " 0:00:00");

        if(movedate <= oneweek){
            // pay more
            higherPrice = 1;
            $(".alertHigherPrice").removeClass('hide');
        }
        else{
            // normal
            higherPrice = 0;
            $(".alertHigherPrice").addClass('hide');
        }
        $("#higherPrice").val(higherPrice);
    }

    $('#formOrder').validate({
        ignore: '.ignore',
        messages: {
            distance: {
                required: 'Harap pilih posisi awal dan akhir pada peta.<br/>'
            },
            package_id: {
                required: 'Harap pilih paket harga yang anda inginkan.'
            }
        },
        invalidHandler: function(event, validator) {
            // 'this' refers to the form
            var errors = validator.numberOfInvalids();
            if (errors) {
                alert('Harap periksa isian anda kembali, masih terdapat ' + errors + " kesalahan isian.");
            } 
        }

    });

    $(window).on("scroll", function() {
        var scrollPos = $(window).scrollTop();
        if (scrollPos <= 0) {
            $('.navbar-default').fadeIn();
        } else {
            $('.navbar-default').fadeOut();
        }
    });
</script>
{% endblock %}