{% extends "masterpages/layout.html" %}
{% block body %}
					<div class="col-md-10 col-md-offset-1" id="checkout">

                        <div class="box">

                            <ul class="nav nav-pills nav-justified">
                                <li><a href="{{ site_url('order/new_order/umum') }}"><i class="fa fa-user"></i><br>Info Umum</a>
                                </li>
                                <li><a href="{{ site_url('order/new_order/lokasi') }}"><i class="fa fa-map-marker"></i><br>Lokasi</a>
                                </li>
                                <li><a href="{{ site_url('order/new_order/harga') }}"><i class="fa fa-money"></i><br>Harga</a>
                                </li>
                                <li><a href="{{ site_url('order/new_order/furnitur') }}"><i class="fa fa-truck"></i><br>Furnitur</a>
                                </li>
                                <li class="active"><a href="#"><i class="fa fa-list-alt"></i><br>Ringkasan</a>
                                </li>
                            </ul>

                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2>PESANAN PINDAHAN ANDA</h2>
                                        <p class="text-muted">Harap pastikan lagi informasi pindahan anda sudah benar.</p>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="table-responsive">
                                            <h4>Info Umum</h4>
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>Nama pemesan</td>
                                                        <th>{{ order.fullname }}</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Nomor HP</td>
                                                        <th>{{ order.phone }}</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Tanggal Pindahan</td>
                                                        <th>{{ order.move_date }}</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Waktu Pindahan</td>
                                                        <th>{{ order.move_time }}</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Catatan Tambahan</td>
                                                        <th>{{ order.notes }}</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Denah Ruangan Lokasi Tujuan</td>
                                                        <th>
                                                            {% if order.blueprint %}
                                                            <a href="#">Lihat gambar di sini</a>
                                                            {% else %}
                                                            Tidak ada file
                                                            {% endif %}
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-right"><a href="{{ site_url('order/new_order/umum') }}"><i class="fa fa-pencil"></i> Ubah informasi</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="table-responsive">
                                            <h4>Lokasi</h4>
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>Alamat penjemputan</th>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ order.start_address }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Alamat penjemputan</th>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ order.end_address }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right"><a href="{{ site_url('order/new_order/lokasi') }}"><i class="fa fa-pencil"></i> Ubah informasi</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <hr>
                                <div class="row">
                                    
                                    <div class="col-sm-6">
                                        <div class="table-responsive">
                                            <h4>Furnitur</h4>
                                            <p>Volume tersedia: {{ order.total_volume }} m<sup>3</sup></p>
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>Jenis</th>
                                                        <th>Ukuran</th>
                                                        <th>Jumlah</th>
                                                    </tr>
                                                    {% for i in 0..((order.appliances | length)-1) %}
                                                    <tr>
                                                        <td>{{ furnitures[i].name }}</td>
                                                        <td>{{ sizes[i].name }} ({{ sizes[i].length }}m x {{ sizes[i].width }}m x {{ sizes[i].height }}m)</td>
                                                        <td>{{ order.appliances[i] }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td class="text-right"><a href="{{ site_url('order/new_order/furnitur') }}"><i class="fa fa-pencil"></i> Ubah informasi</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="table-responsive">
                                            <h4>Harga</h4>
                                            <table class="table">
                                                {% if order.package_id != 0 %}
                                                    {% set order_dist = order.distance / 1000 %}
                                                    {% set paid_dist = order_dist - order.package.distance %}
                                                    <tbody>
                                                        <tr>
                                                            <td>Pilihan Harga</td>
                                                            <th>Paket / <del>Custom</del></th>
                                                        </tr>
                                                        <tr>
                                                            <td>Jenis Paket</td>
                                                            <th>{{ order.package.name }}</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Transportasi</td>
                                                            <th>{{ order.package.transportation }}</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Pekerja</td>
                                                            <th>{{ order.package.employee }}</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Kardus</td>
                                                            <th>{{ order.package.box }}</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Jarak Tempuh</td>
                                                            <th>{{ order_dist }} km (gratis {{ order.package.distance }} km)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Biaya Ongkos (Rp {{ transport_fee | number_format(0,'','.') }},-)</td>
                                                            <th>Rp {{ (paid_dist * transport_fee) | number_format(0, '', '.') }},- <span class="text-muted">({{ paid_dist }} km)</span></th>
                                                        </tr>
                                                        <tr>
                                                            <td>Biaya Paket</td>
                                                            <th>Rp {{ order.package.price | number_format(0,'','.') }},-</th>
                                                        </tr>
                                                        <tr class="total">
                                                            <td>Total Dibayarkan</td>
                                                            <th>Rp {{ (order.package.price + (paid_dist * transport_fee)) | number_format(0, '', '.') }},-</th>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td class="text-right"><a href="{{ site_url('order/new_order/harga') }}"><i class="fa fa-pencil"></i> Ganti paket</a></td>
                                                        </tr>
                                                    </tbody>
                                                {% else %}
                                                    {% set order_dist = order.distance / 1000 %}
                                                    {% set paid_dist = order_dist %}
                                                    <tbody>
                                                        <tr>
                                                            <td>Pilihan Harga</td>
                                                            <th><del>Paket</del> / Custom</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Transportasi</td>
                                                            <th>{{ order.total_transportation }}</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Pekerja</td>
                                                            <th>{{ order.employee }}</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Kardus</td>
                                                            <th>{{ order.package.box }}</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Jarak Tempuh</td>
                                                            <th>{{ order_dist }} km</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Biaya Ongkos (Rp {{ transport_fee | number_format(0,'','.') }},-)</td>
                                                            <th>Rp {{ (paid_dist * transport_fee) | number_format(0, '', '.') }},- <span class="text-muted">({{ paid_dist }} km)</span></th>
                                                        </tr>
                                                        <tr>
                                                            <td>Biaya Paket</td>
                                                            <th>Rp {{ order.package.price | number_format(0,'','.') }},-</th>
                                                        </tr>
                                                        <tr class="total">
                                                            <td>Total Dibayarkan</td>
                                                            <th>Rp {{ (order.package.price + (paid_dist * transport_fee)) | number_format(0, '', '.') }},-</th>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td class="text-right"><a href="{{ site_url('order/new_order/harga') }}"><i class="fa fa-pencil"></i> Ganti paket</a></td>
                                                        </tr>
                                                    </tbody>
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a href="{{ site_url('order/new_order/furnitur') }}" class="btn btn-default"><i class="fa fa-chevron-left"></i>Kembali ke Furnitur</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ site_url('order/checkout') }}" class="btn btn-template-main" onclick="return confirm('Apakah anda yakin untuk melakukan pembayaran?')">Lanjutkan ke Pembayaran<i class="fa fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- /.box -->


                    </div>
                    <!-- /.col-md-9 -->

{% endblock %}

{% block scripts %}
{% endblock %}