{% extends "masterpages/layout.html" %}
{% block body %}
					<div class="col-md-10 col-md-offset-1" id="checkout">
						<div class="box">
                            <div class="content">
                                <div class="row text-center">
                                    <div class="col-sm-12">
                                        <h2>KONFIRMASI PEMBAYARAN BERHASIL</h2>
                                        <p class="text-muted">Terima kasih anda telah mempercayakan pindahan anda pada kami. Kami akan menelepon anda untuk melakukan konfirmasi pesanan anda.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="pull-left">
                                    <a href="{{ site_url('order/order_list') }}" class="btn btn-main text-center"><i class="fa fa-chevron-left"></i> Kembali ke Daftar Pesanan</a>
                                </div>
                            </div>
                        </div>
					</div>
{% endblock %}