{% extends "masterpages/layout.html" %}
{% block body %}
                <form action="{{ site_url('order/checkout') }}" id="formOrder" method="post" enctype="multipart/form-data">
                <div class="col-md-10 col-md-offset-1" id="checkout">
                    <div class="box">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2>PESANAN PINDAHAN ANDA</h2>
                                    <p class="text-muted">Harap pastikan lagi informasi pindahan anda sudah benar.</p>
                                </div>
                            </div>
                            <!-- /.row -->
                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="table-responsive">
                                        <h4>Info Umum</h4>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>Nama pemesan</td>
                                                    <th>{{ order.fullname }}</th>
                                                </tr>
                                                <tr>
                                                    <td>Nomor HP</td>
                                                    <th>{{ order.phone }}</th>
                                                </tr>
                                                <tr>
                                                    <td>Tanggal Pindahan</td>
                                                    <th>{{ order.move_date }}</th>
                                                </tr>
                                                <tr>
                                                    <td>Waktu Pindahan</td>
                                                    <th>{{ order.move_time }}</th>
                                                </tr>
                                                <tr>
                                                    <td>Catatan Tambahan</td>
                                                    <th>{{ order.notes }}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="table-responsive">
                                        <h4>Lokasi</h4>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th>Alamat penjemputan</th>
                                                </tr>
                                                <tr>
                                                    <td>{{ order.start_address }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Alamat penjemputan</th>
                                                </tr>
                                                <tr>
                                                    <td>{{ order.end_address }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="row">
                                
                                <div class="col-sm-6">
                                    <div class="table-responsive">
                                        <h4>Furnitur</h4>
                                        <p>Volume total: {{ order.total_volume }} m<sup>3</sup></p>
                                        {% if order.appliances %}
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th>Jenis</th>
                                                    <th>Ukuran</th>
                                                    <th>Jumlah</th>
                                                </tr>
                                                {% for i in 0..((order.appliances | length)-1) %}
                                                <tr>
                                                    <td>{{ furnitures[i].name }}</td>
                                                    <td>
                                                                       
                                                    {% if sizes[i].id != 0 %}
                                                                {{ sizes[i].name }}
                                                    {% else %}
                                                        Custom ({{descriptions[i]}})
                                                    {% endif %} 
                                                </td>
                                                    <td>{{ order.appliances[i] }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="table-responsive">
                                        <h4>Harga</h4>
                                        <table class="table">
                                            {% if order.package_id != 0 %}
                                            {% set order_dist = order.distance / 1000 %}
                                            {% set paid_dist = order_dist > order.package.distance? order_dist - order.package.distance : 0 %}
                                            <tbody>
                                                <tr>
                                                    <td>Pilihan Harga</td>
                                                    <th>Paket / <del>Custom</del></th>
                                                </tr>
                                                <tr>
                                                    <td>Jenis Paket</td>
                                                    <th>{{ order.package.name }}</th>
                                                </tr>
                                                <tr>
                                                    <td>Transportasi</td>
                                                    <th>{{ order.package.transportation }}</th>
                                                </tr>
                                                <tr>
                                                    <td>Pekerja</td>
                                                    <th>{{ order.package.employee }}</th>
                                                </tr>
                                                <tr>
                                                    <td>Kardus</td>
                                                    <th>{{ order.package.box }}</th>
                                                </tr>
                                                <tr>
                                                    <td>Jarak Tempuh</td>
                                                    <th>{{ order_dist }} km (gratis {{ order.package.distance }} km)</th>
                                                </tr>
                                                <tr>
                                                    <td>Estimasi waktu</td>
                                                    <th>{{ order.duration }} jam</th>
                                                </tr>
                                                <tr>
                                                    <td>Biaya Ongkos (Rp {{ transport_fee | number_format(0,'','.') }},-)</td>
                                                    <th>Rp {{ (paid_dist * transport_fee) | number_format(0, '', '.') }},- <span class="text-muted">({{ paid_dist }} km)</span></th>
                                                </tr>
                                                <tr>
                                                    <td>Biaya Paket</td>
                                                    <th>Rp {{ order.package.price | number_format(0,'','.') }},-</th>
                                                </tr>
                                                <tr class="total">
                                                    <td>Total Dibayarkan</td>
                                                    <th>Rp {{ (order.price + (paid_dist * transport_fee)) | number_format(0, '', '.') }},-</th>
                                                </tr>
                                                {% if higherPrice %}
                                                <tr>
                                                    <td colspan="2"><strong>Perhatian </strong>Total biaya anda dikenakan charge 20%</td>
                                                </tr>
                                                {% endif %}
                                            </tbody>
                                            {% else %}
                                                {% set order_dist = order.distance / 1000 %}
                                                {% set paid_dist = order_dist %}
                                                <tbody>
                                                    <tr>
                                                        <td>Pilihan Harga</td>
                                                        <th><del>Paket</del> / Custom</th>
                                                    </tr>
                                                    {% for i in 0..((customs | length)-1) %}
                                                    <tr>
                                                        <td>{{ customs[i].name }}</td>
                                                        <td>{{ order.custom[i] }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% for i in 0..((extras | length)-1) %}
                                                    <tr>
                                                        <td>{{ extras[i].name }}</td>
                                                        <td>{{ order.extra[i] }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td>Jarak Tempuh</td>
                                                        <th>{{ order_dist }} km</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Estimasi waktu</td>
                                                        <th>{{ order.duration }} jam</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Biaya Ongkos (Rp {{ transport_fee | number_format(0,'','.') }},-)</td>
                                                        <th>Rp {{ (paid_dist * transport_fee) | number_format(0, '', '.') }},- <span class="text-muted">({{ paid_dist }} km)</span></th>
                                                    </tr>
                                                    <tr>
                                                        <td>Biaya Custom</td>
                                                        <th>Rp {{ order.price | number_format(0,'','.') }},-</th>
                                                    </tr>
                                                    <tr class="total">
                                                        <td>Total Dibayarkan</td>
                                                        <th>Rp {{ (order.price + (paid_dist * transport_fee)) | number_format(0, '', '.') }},-</th>
                                                    </tr>
                                                    {% if higherPrice %}
                                                    <tr>
                                                        <td colspan="2"><strong>Perhatian </strong>Total biaya anda dikenakan charga 20%</td>
                                                    </tr>
                                                    {% endif %}
                                                </tbody>
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        <hr>
                        <div class="row text-center">
                            <button class="btn btn-template-main">Bayar</button>
                        </div>
                    </div>
                </div>
        <!-- /.col-md-9 -->
        </form>
{% endblock %}