{% extends "masterpages/layout.html" %}
{% block body %}
					<div class="col-md-10 col-md-offset-1" id="checkout">
                        
                        <div class="box">
                            <form method="post" action="{{ site_url('order/nextstep/lokasi') }}" id="formUmum" enctype="multipart/form-data">

                                <ul class="nav nav-pills nav-justified">
                                    <li class="active"><a href="#"><i class="fa fa-user"></i><br>Info Umum</a>
                                    </li>
                                    <li class="disabled"><a href="#"><i class="fa fa-map-marker"></i><br>Lokasi</a>
                                    </li>
                                    <li class="disabled"><a href="#"><i class="fa fa-money"></i><br>Harga</a>
                                    </li>
                                    <li class="disabled"><a href="#"><i class="fa fa-truck"></i><br>Furnitur</a>
                                    </li>
                                    <li class="disabled"><a href="#"><i class="fa fa-list-alt"></i><br>Ringkasan</a>
                                    </li>
                                </ul>

                                <div class="content">
                                    {% set error = session.flashdata.msg %}
                                    {% if error %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>Oops! Terjadi kesalahan: </strong>
                                        {{ error }}
                                    </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="fullname">Nama Lengkap *</label>
                                                <input type="text" class="form-control" id="fullname" name="fullname" value="{{ session.userdata.user.fullname }}" required="" minlength="3" maxlength="200" />
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="move_date">Tanggal Pindah *</label>
                                                <input type="text" class="form-control datepicker" id="move_date" name="move_date" required="" value="{{ session.userdata.order.move_date }}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="phone">Nomor Telepon/HP *</label>
                                                <input type="text" class="form-control" id="phone" name="phone" value="{{ session.userdata.user.phone }}" />
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="move_time">Waktu Pindah *</label>
                                                <input type="text" class="form-control timepicker" id="move_time" name="move_time" required="" value="{{ session.userdata.order.move_time }}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="phone">Catatan Tambahan</label>
                                                <textarea class="form-control" id="notes" name="notes" placeholder="Tambahkan keterangan pindahan seperti kesulitan saat penjemputan, keterangan lokasi dan keterangan area parkir untuk transportasi kami di kolom ini.">{{ session.userdata.order.notes }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="blueprint">Denah Ruangan Lokasi Tujuan</label>
                                                <input type="file" id="blueprint" name="blueprint" />
                                                <p class="help-block">Upload file denah ruangan rumah/kost/apartemen tujuan anda sesuai keinginan anda jika anda akan menggunakan jasa penataan ruangan.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </div>

                                <div class="box-footer">
                                    <div class="pull-left">
                                        <a href="{{ site_url('order/order_list') }}" class="btn btn-default"><i class="fa fa-chevron-left"></i>Batal pesan</a>
                                    </div>
                                    <div class="pull-right">
                                        <label for="submitForm" class="btn btn-template-main">Lanjutkan ke Lokasi <i class="fa fa-chevron-right"></i>
                                        </label>
                                        <input type="submit" id="submitForm" class="hidden">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box -->


                    </div>
                    <!-- /.col-md-9 -->
{% endblock %}
{% block scripts %}
<script>
    var now = new Date();
    $(function () {
        $('.datepicker').datetimepicker({
            format: 'L',
            minDate: new Date(now.getFullYear(), now.getMonth(), now.getDate()+1)
        });
        $('.timepicker').datetimepicker({
            format: 'LT',
            stepping: 30
        });
    });

    $('#formUmum').validate();
</script>
{% endblock %}