{% extends "masterpages/landing.html" %}
{% block body %}
        <div id="content">
            <div class="container">
                    <div class="col-md-4 col-md-offset-4">
                        {{ include('partials/login_form.html') }}
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
{% endblock %}