{% extends "masterpages/layout.html" %}
{% block body %}
                    <div class="col-md-9 clearfix" id="customer-account">
                        <div class="box">
                            <div class="heading">
                                <h3 class="text-uppercase">Informasi profil</h3>
                            </div>

                            {% set error = session.flashdata.msg %}
                            {% if error %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Oops! Terjadi kesalahan:</strong>
                                <ul>
                                {% for e in error %}
                                    <li>{{ e }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            {% endif %}

                            {% set success = session.flashdata.msg_success %}
                            {% if success %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>{{ success }}</strong>
                            </div>
                            {% endif %}

                            <form action="{{ site_url('account/update_profile') }}" method="post">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="fullname">Nama Lengkap</label>
                                            <input type="text" class="form-control" id="fullname" name="fullname" value="{{ user.fullname }}">
                                            <input type="hidden" name="id" value="{{ session.userdata.user.id }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="gender">Jenis Kelamin</label>
                                            <input type="text" class="form-control" id="gender" readonly value="{{ user.gender == 1 ? "Pria" : "Wanita" }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="dob">Tanggal Lahir</label>
                                            <input type="text" class="form-control datetimepicker" id="dob" value="{{ user.dob | date("m/d/Y") }}" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email_account">Email</label>
                                            <input type="text" class="form-control" id="email_account" readonly value="{{ user.email }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="phone">Nomor HP</label>
                                            <input type="text" class="form-control" id="phone" name="phone" value="{{ user.phone }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="address">Alamat Lengkap</label>
                                            <textarea class="form-control" id="address" name="address">{{ user.address }}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="is_merchant">Apakah anda seorang merchant?</label>
                                            <div class="radio">
                                              <label><input type="radio" name="is_merchant" {{ user.is_merchant == 1? "checked" : "" }} value="1">Ya</label>
                                            </div>
                                            <div class="radio">
                                              <label><input type="radio" name="is_merchant" {{ user.is_merchant == 0? "checked" : "" }} value="0">Tidak</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="company_name">Nama Toko</label>
                                            <input type="text" class="form-control" name="company_name" id="company_name" {{ user.is_merchant == 0? "disabled" : "" }} value="{{ user.company_name }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-template-main"><i class="fa fa-save"></i> Simpan perubahan</button>

                                    </div>

                                </div>

                            </form>

                        </div>
                        <div class="box clearfix">

                            <div class="heading">
                                <h3 class="text-uppercase">Ubah password</h3>
                            </div>

                            <form action="{{ site_url('account/change_password') }}" method="post">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="password_old">Password lama</label>
                                            <input type="password" class="form-control" id="password_old" name="password-old">
                                            <input type="hidden" name="id" value="{{ session.userdata.user.id }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="password_1">Password baru</label>
                                            <input type="password" class="form-control" id="password_1" name="password">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="password_2">Ulangi password baru</label>
                                            <input type="password" class="form-control" id="password_2" name="password-confirm">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                                <div class="text-center">
                                    <button type="submit" class="btn btn-template-main"><i class="fa fa-save"></i> Simpan password baru</button>
                                </div>
                            </form>

                        </div>
                        <!-- /.box -->


                        

                    </div>
                    <!-- /.col-md-9 -->
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    var company = "{{ user.company_name }}";
    $("input[type=radio]").change(function(){
        var $this = $(this);
        if($this.val() == 'y'){
            $('#merchant_name').removeAttr('disabled');
            $('#merchant_name').val(company);
        }
        else{
            $('#merchant_name').val('');
            $('#merchant_name').attr('disabled', 'disabled');
        }
    });

    $(function () {
        $('.datetimepicker').datetimepicker({
            format: 'L',
            defaultDate: "{{ user.dob | date("m/d/Y") }}",
        });
    });
</script>
{% endblock %}