{% extends "masterpages/landing.html" %}
{% block body %}
        <div id="content">
            <div class="container">

                <div class="row">
                    <div class="col-md-8" style="border-right: 1px solid #ccc">
                        <div class="box">
                            <h2 class="text-uppercase">Buat Akun Baru</h2>

                            <p class="lead">Anda belum terdaftar?</p>
                            <p>Dengan mendaftar di Pindahan.com, dapatkan berbagai kemudahan dan kenyamanan saat pindahan.</p>

                            <hr>

                            {% set error = session.flashdata.msg_register %}
                            {% if error %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Oops! Terjadi kesalahan:</strong>
                                <ul>
                                {% for e in error %}
                                    <li>{{ e }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            {% endif %}

                            <form action="{{ site_url('account/do_register') }}" method="post">
                                <div class="form-group">
                                    <label for="name-login">Nama Lengkap</label>
                                    <input type="text" class="form-control" id="name-login" name="fullname" required="" value="{{ old_value.fullname }}">
                                </div>
                                <div class="form-group">
                                    <label for="dob">Tanggal Lahir</label>
                                    <input type="text" class="form-control datetimepicker" id="dob" name="dob" required="" value="{{ old_value.dob }}">
                                </div>
                                <div class="form-group">
                                    <label for="email-login">Email</label>
                                    <input type="email" class="form-control" id="email-login" name="email" required="" value="{{ old_value.email }}">
                                </div>
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <select class="form-control" name="gender" id="gender" required="">
                                        <option value="0">Pilih salah satu</option>
                                        <option value="1" {{ old_value.gender == 1 ? "selected" : "" }}>Pria</option>
                                        <option value="2" {{ old_value.gender == 2 ? "selected" : "" }}>Wanita</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="password-login">Password</label>
                                    <input type="password" class="form-control" id="password-login" name="password" required="">
                                </div>
                                <div class="form-group">
                                    <label for="password-login">Ulangi Password</label>
                                    <input type="password" class="form-control" id="password-login" name="password-confirm" required="">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-template-main"><i class="fa fa-user-md"></i> Daftar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {% include "partials/login_form.html" %}
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
{% endblock %}
{% block scripts %}
<script>
    $(function () {
        $('.datetimepicker').datetimepicker({
            format: 'L',
            viewMode: 'years'
        });
    });
</script>
{% endblock %}