{% extends 'backend/masterpages/layout.html' %}
{% block body %}
<div class="col-xs-8 col-xs-offset-2">
	<!-- Horizontal Form -->
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Testimonial</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{{ site_url('backend/testimonial/doedit') }}" method="post">
              <div class="box-body">

                <div class="form-group">
                  <label for="rate" class="col-sm-2 control-label">Rate</label>

                  <div class="col-sm-10">
                    <select name="rate" class="form-control" required="" style="font-family: 'FontAwesome'">
                      <option value="1" {{ testimonial.rate == 1? 'selected' : '' }}>&#xf006;</option>
                      <option value="2" {{ testimonial.rate == 2? 'selected' : '' }}>&#xf006;&#xf006;</option>
                      <option value="3" {{ testimonial.rate == 3? 'selected' : '' }}>&#xf006;&#xf006;&#xf006;</option>
                      <option value="4" {{ testimonial.rate == 4? 'selected' : '' }}>&#xf006;&#xf006;&#xf006;&#xf006;</option>
                      <option value="5" {{ testimonial.rate == 5? 'selected' : '' }}>&#xf006;&#xf006;&#xf006;&#xf006;&#xf006;</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="comment" class="col-sm-2 control-label">Comment</label>

                  <div class="col-sm-10">
                    <textarea class="form-control" id="comment" name="comment" placeholder="Comment" required="" minlength="5" maxlength="200">{{ testimonial.comment }}</textarea>
                    <input type="hidden" name="id" value="{{ testimonial.id }}">
                  </div>
                </div>


                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="is_show" value="1" {{ testimonial.is_show == 1? 'checked' : '' }}> Show on Homepage?
                      </label>
                    </div>
                  </div>
                </div>

              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a href="{{ site_url('backend/testimonial') }}" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
</div>
{% endblock %}