{% extends 'backend/masterpages/layout.html' %}
{% block body %}

<div class="box">
	<div class="box-header">
		<h1 class="box-title">
			Testimonial List
		</h1>
	</div>
	<div class="box-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Order ID</th>
					<th>Rate/th>
					<th>Comment</th>
					<th>Show on Homepage</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for testimonial in testimonials %}
				<tr>
					<td><a href="{{ site_url('backend/order/detail/' ~ testimonial.order_id ) }}" target="_blank">{{ testimonial.order_id }}</a></td>
					<td>
						{% for i in 1..testimonial.rate %}
						<i class="fa fa-star"></i>
						{% endfor %}
						{% if (5 - testimonial.rate) > 0 %}
							{% for i in 1..(5 - testimonial.rate) %}
							<i class="fa fa-star-o"></i>
							{% endfor %}
						{% endif %}
						&nbsp;<i>{{ testimonial.rate }} stars</i>
					</td>
					<td>{{ testimonial.comment }}</td>
					<td>{{ testimonial.is_show? 'Yes' : 'No' }}</td>
					<td>
						<a href="{{ site_url('backend/testimonial/edit') }}/{{ testimonial.id }}" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></a>
						<a href="{{ site_url('backend/testimonial/delete') }}/{{ testimonial.id }}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure to delete this item?');"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(function(){
		$('#example1').DataTable({
			"paging": true,
			"lengthChange": false,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false
	    });
	});
</script>
{% endblock %}