{% extends "masterpages/landing.html" %}
{% block body %}
<div class="container">
	<div id="3a" class="panel panel-default">
		<div class="panel-heading">
			<h3>Simulasi Harga Custom</h3>
		</div>
		<div class="panel-body">
			<div class="row" id="custom">
				<table class="table">
					<thead>
						<tr>
							<th width="30%">Barang/Jasa</th>
							<th width="30%">Harga Satuan (Rp)</th>
							<th width="23%">Pemesanan (Qty)</th>
							<th>Subtotal</th>
						</tr>
					</thead>
					<tbody id="table-custom-price">
						{% for custom in customs %}
							{% autoescape %}
							{% set m3 = 'm<sup>3</sup>' %}
							<tr>
								<th>{{ custom.name }} {{ (custom.volume > 0? '(muatan: ' ~ custom.volume ~ ' ' ~ m3 ~ ')' : '') | raw }}</th>
								<td>{{ custom.price | number_format(0, '', '.') }}</td>
								<td>
									<input type="hidden" name="custom_id[]" value="{{ custom.id }}" />
									<input type="number" class="custom-qty" data-id="{{ custom.id }}" data-price="{{ custom.price }}" data-volume="{{ custom.volume }}" name="custom[]" value="0" min="0" max="{{ custom.max_qty }}"></input>&nbsp;/{{ custom.max_qty }}</td>
									<td><span id="subtotal-custom-{{ custom.id }}">-</span><input type="hidden" class="subtotal-custom" id="subtotal-custom-hidden-{{ custom.id }}"></td>
								</tr>
							{% endautoescape %}
						{% endfor %}
						<tr>
							<td colspan="3" style="text-align: right; font-size: 16px !important;"><b>TOTAL</b></td>
							<td><span id="grandtotal-custom">-</span><input type="hidden" id="grandtotal-custom-hidden"></td>
						</tr>
						<tr>
							<th><i class="fa fa-clock-o"></i> Estimasi Pengerjaan</th>
							<td colspan="3">
								<span id="estimated_time_text">{{ working_time }}</span> jam
								<input type="hidden" id="working_time" value="{{ working_time }}">
								<input type="hidden" id="estimated_time" name="duration" value="{{ estimated_time }}">
							</td>
						</tr>
						<tr>
							<td colspan="4">
								Catatan:
								<ul>
									<li>Tenaga kerja dapat melakukan packing, angkut, dan penataan.</li>
									<li>Harga tertera belum termasuk uang tambahan tips.</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
				<h4>Perlengkapan Tambahan</h4>
				<table class="table">
					<thead>
						<tr>
							<th width="30%">Barang/Jasa</th>
							<th width="30%">Harga Satuan (Rp)</th>
							<th width="23%">Pemesanan (Qty)</th>
							<th>Subtotal</th>
						</tr>
					</thead>
					<tbody id="table-extra-price">
						{% for extra in extras %}
							<tr>
								<th>{{ extra.name }}</th>
								<td>{{ extra.price | number_format(0, '', '.') }}</td>
								<td>
									<input type="hidden" name="extra_id[]" value="{{ extra.id }}" />
									<input type="number" class="extra-qty" data-id="{{ extra.id }}" data-price="{{ extra.price }}" name="extra[]" value="0" min="0" max="20"></input></td>
									<td><span id="subtotal-extra-{{ extra.id }}">-</span><input type="hidden" class="subtotal-extra" id="subtotal-extra-hidden-{{ extra.id }}"></td>
								</tr>
							{% endfor %}
							<tr>
								<td colspan="3" style="text-align: right; font-size: 16px !important;"><b>TOTAL</b></td>
								<td><span id="grandtotal-extra">-</span><input type="hidden" id="grandtotal-extra-hidden"></td>
							</tr>
							<tr>
								<td colspan="3" style="text-align: right; font-size: 18px !important;"><b>GRAND TOTAL</b></td>
								<td>
									<span class="grandtotal">-</span>
									<input type="hidden" name="price" id="grandtotal-hidden">
									<input type="hidden" name="higherPrice" id="higherPrice" value="0">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.row -->
			</div>
		</div>
		<div class="panel-footer text-center">
			<a href="{{ site_url('') }}" class="btn btn-template-main">Kembali ke halaman awal</a>
		</div>
	</div>
{% endblock %}
{% block scripts %}
<script src="{{ asset_url() }}frontend/js/modules/order/harga.js"></script>
{% endblock %}