{% extends "masterpages/landing.html" %}
{% block body %}
        <section>
            <!-- *** HOMEPAGE CAROUSEL ***
            }
 _________________________________________________________ -->

            <div class="home-carousel" id="home">

                <div class="dark-mask"></div>

                <div class="container">
                    <div class="homepage owl-carousel">
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-5 right">
                                    <h1>Layanan pindahan terpercaya untuk</h1>
                                    <ul class="list-style-none">
                                        <li>Kos</li>
                                    </ul>
                                </div>
                                <div class="col-sm-7">
                                    <img class="img-responsive" src="{{ asset_url() }}/frontend/img/template-homepage.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">

                                <div class="col-sm-7 text-center">
                                    <img class="img-responsive" src="{{ asset_url() }}/frontend/img/template-mac.png" alt="">
                                </div>

                                <div class="col-sm-5">
                                    <h2>Mengapa pakai Pindahan.com?</h2>
                                    <ul class="list-style-none">
                                        <li>Waktu pindahan yang fleksibel</li>
                                        <li>Harga pindahan yang terjangkau</li>
                                        <li>Pindahan dengan aman dan nyaman</li>
                                        <li>Pemesanan online yang praktis dan informatif</li>
                                        <li>Pekerja yang handal dan terampil</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-5 right">
                                    <h1>Daftar sekarang juga</h1>
                                    <a class="btn btn-lg btn-template-transparent-primary" href="{{ site_url('account/register') }}">Daftar</a>
                                </div>
                                <div class="col-sm-7">
                                    <img class="img-responsive" src="{{ asset_url() }}/frontend/img/template-easy-customize.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.project owl-slider -->
                </div>
            </div>

            <!-- *** HOMEPAGE CAROUSEL END *** -->
        </section>

        <!-- *** SERVICE SECTION ***
 _________________________________________________________ -->

        <section class="bar background-white" id="service">
            <div class="container">
                <div class="col-md-12">

                    <div class="heading text-center">
                        <h2>Layanan Kami</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-truck fa-2x"></i>
                                </div>
                                <h3>Transportasi</h3>
                                <p>Layanan transportasi menuju tempat baru yang Anda tuju.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-cube fa-2x"></i>
                                </div>
                                <h3>Packing</h3>
                                <p>Bantuan pengemasan barang-barang yang akan dipindahkan oleh tenaga professional.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-dropbox fa-2x"></i>
                                </div>
                                <h3>Unpacking & Penataan</h3>
                                <p>Bantuan dalam menata kembali barang-barang Anda di tempat yang baru.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- *** SERVICE SECTION END ***
 _________________________________________________________ -->
        <!-- *** VIDEO SECTION ***
 _________________________________________________________ -->

        <section class="bar background-gray" id="service">
            <div class="container">
                <div class="col-md-12">

                    <div class="heading text-center">
                        <h2>cara pesan pindahan</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-6 text-center">
                            <iframe style="width:100%;" src="http://www.youtube.com/embed/YGWdQ5BtyVU">
                            </iframe> 
                        </div>
                        <div class="col-md-6 text-center">
                            <iframe style="width:100%;" src="http://www.youtube.com/embed/YGWdQ5BtyVU">
                            </iframe> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- *** VIDEO SECTION END ***
 _________________________________________________________ -->

        <!-- *** PACKAGES SECTION ***
 _________________________________________________________ -->

        <section class="bar background-white no-mb" id="price">
                <div class="container">
                    <div class="col-md-12">
                        <div class="heading text-center">
                            <h2>Paket Harga Kami</h2>
                        </div>
                        <p class="lead text-center">Pilihan dari berbagai paket dengan harga terbaik</p>

                        <div class="row packages">

                            <div class="row packages" id="package">
                                    {% for package in packages %}
                                        {% autoescape %}
                                        {% set divBest = '<div class="best-value">' %}
                                        {% set divBestClose = '</div>' %}
                                        {% set metaBest = '<div class="meta-text">Best Value</div>' %}
                                        {% set notavail = '<i class="fa fa-times"></i>' %}
                                        <div class="col-md-3">
                                            {{ (package.is_best_offer? divBest: '') | raw }}
                                            <div class="package ">
                                                <div class="package-header">
                                                    <h5>{{ package.name }}</h5>
                                                    {{ (package.is_best_offer? metaBest: '') | raw }}
                                                </div>
                                                <div class="price">
                                                    <div class="price-container">
                                                        <h4>Rp {{ package.price | number_format(0, '', '.') }}</h4>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li><i class="fa fa-check"></i>{{ package.transportation }} {{ package.vehicle.name }}</li>
                                                    <li><i class="fa fa-check"></i>Gratis {{ package.distance }} km pertama</li>
                                                    <li>{{ (package.employee > 0? package.employee : notavail) | raw }} Tenaga kerja</li>
                                                    <li>{{ (package.box > 0? package.box : notavail) | raw }} Kardus</li>
                                                </ul>
                                                <a class="btn btn-template-main" id="btn-{{ package.id }}" onclick="selectPackage({{ package.id }})">Pilih</a>
                                            </div>
                                            {{ (package.is_best_offer? divBestClose: '') | raw }}
                                        </div>
                                    {% endautoescape %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <!-- *** PACKAGES SECTION END ***
 _________________________________________________________ -->


        <!-- *** CUSTOM SECTION ***
 _________________________________________________________ -->

        <section class="bar background-image-fixed-2 no-mb color-white text-center" id="custom">
            <div class="dark-mask"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="icon icon-lg"><i class="fa fa-gears"></i>
                        </div>
                        <h3 class="text-uppercase">Paket tidak sesuai kebutuhan?</h3>
                        <p class="lead">Pilih kendaraan dan jumlah pekerja sesuai kebutuhan dan keinginan anda.</p>
                        <p class="text-center">
                            <a href="{{ site_url('home/custom') }}" class="btn btn-template-transparent-black btn-lg">Buat Harga Sendiri</a>
                        </p>
                    </div>

                </div>
            </div>
        </section>
        <!-- *** CUSTOM SECTION END ***
 _________________________________________________________ -->


        <!-- *** PROMO SECTION ***
 _________________________________________________________ -->

        <section class="bar background-white no-mb" id="price">
                <div class="container">
                    <div class="col-md-12">
                        <div class="heading text-center">
                            <h2>Promosi</h2>
                        </div>

                        
                        <div class="promotions owl-carousel">
                            {% for promotion in promotions %}
                            <img src="{{ upload_url('promo') }}/{{ promotion.image_path }}" alt="image not found" style="width: 100%;">
                            {% endfor %}
                        </div>
                    </div>
                </div>
        </section>

        <!-- *** PROMO SECTION END ***
 _________________________________________________________ -->

        <section class="bar background-pentagon no-mb" id="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading text-center">
                            <h2>Testimonial</h2>
                        </div>

                        <p class="lead">Kami telah bekerja dengan banyak klien dan kami selalu ingin mendengar pindahan mereka selesai dengan memuaskan.</p>


                        <!-- *** TESTIMONIALS CAROUSEL ***
 _________________________________________________________ -->

                        <ul class="owl-carousel testimonials same-height-row">
                            {% for testimonial in testimonials %}
                            <li class="item">
                                <div class="testimonial same-height-always">
                                    <div class="text">
                                        <p>{{ testimonial.comment }}</p>
                                    </div>
                                    <div class="bottom">
                                        <div class="icon"><i class="fa fa-quote-left"></i>
                                        </div>
                                        <div class="name-picture">
                                            <h5>&nbsp;</h5>
                                            <h5>{{ testimonial.user.fullname }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            <!-- <li class="item">
                                <div class="testimonial same-height-always">
                                    <div class="text">
                                        <p>The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to
                                            me? " he thought. It wasn't a dream.</p>
                                    </div>
                                    <div class="bottom">
                                        <div class="icon"><i class="fa fa-quote-left"></i>
                                        </div>
                                        <div class="name-picture">
                                            <h5>&nbsp;</h5>
                                            <h5>John McIntyre</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="testimonial same-height-always">
                                    <div class="text">
                                        <p>His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>

                                        <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded
                                            frame.</p>
                                    </div>
                                    <div class="bottom">
                                        <div class="icon"><i class="fa fa-quote-left"></i>
                                        </div>
                                        <div class="name-picture">
                                            <h5>&nbsp;</h5>
                                            <h5>John McIntyre</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="testimonial same-height-always">
                                    <div class="text">
                                        <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull
                                            weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                                    </div>

                                    <div class="bottom">
                                        <div class="icon"><i class="fa fa-quote-left"></i>
                                        </div>
                                        <div class="name-picture">
                                            <h5>&nbsp;</h5>
                                            <h5>John McIntyre</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="testimonial same-height-always">
                                    <div class="text">
                                        <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull
                                            weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made
                                            him feel quite sad.</p>
                                    </div>

                                    <div class="bottom">
                                        <div class="icon"><i class="fa fa-quote-left"></i>
                                        </div>
                                        <div class="name-picture">
                                            <h5>&nbsp;</h5>
                                            <h5>John McIntyre</h5>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
                        </ul>
                        <!-- /.owl-carousel -->

                        <!-- *** TESTIMONIALS CAROUSEL END *** -->
                    </div>

                </div>
            </div>
        </section>
        <!-- /.bar -->

        <!-- *** COMPANIES SECTION ***
_________________________________________________________ -->
        <section class="bar background-gray no-mb" id="partner">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="heading text-center">
                            <h2>Partner Kami</h2>
                        </div>
                        <ul class="owl-carousel customers">
                            <li class="item">
                                <img src="{{ asset_url() }}frontend/img/BCA logo.png" alt="" class="img-responsive">
                            </li>
                            <li class="item">
                                <img src="{{ asset_url() }}frontend/img/BNI logo.png" alt="" class="img-responsive">
                            </li>
                            <li class="item">
                                <img src="{{ asset_url() }}frontend/img/mandiri logo.png" alt="" class="img-responsive">
                            </li>
                        </ul>
                        <!-- /.owl-carousel -->
                    </div>

                </div>
            </div>
        </section>
        <!-- *** COMPANIES SECTION END ***
_________________________________________________________ -->

        <!-- *** GET IT ***
_________________________________________________________ -->

        <div id="get-it">
            <div class="container">
                <div class="col-md-8 col-sm-12">
                    <h3>Ingin pindahan sekarang juga?</h3>
                </div>
                <div class="col-md-4 col-sm-12">
                    <a href="#" class="btn btn-lg btn-template-transparent-primary">Daftar Sekarang</a>
                </div>
            </div>
        </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ asset_url() }}frontend/js/fluid-youtube.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.promotions').owlCarousel();
    });
</script>
{% endblock %}