<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pindahan Backend</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{{ asset_url() }}/backend/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="{{ asset_url() }}/backend/plugins/datatables/dataTables.bootstrap.css">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="{{ asset_url() }}/backend/plugins/datepicker/datepicker3.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset_url() }}/backend/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect.
  -->
  <link rel="stylesheet" href="{{ asset_url() }}/backend/dist/css/skins/skin-blue.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>P</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Pindahan</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li><a href="#"><span class="hidden-xs">{{ session.userdata.admin.fullname }}</span></a></li>
          <li><a href="{{ site_url('backend/logout') }}"><i class="glyphicon glyphicon-log-out"></i></a></li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">MASTER</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="{{ site_url('backend/admin') }}"><i class="fa fa-user-plus"></i> <span>Employees</span></a></li>
        <li class="active"><a href="{{ site_url('backend/bank') }}"><i class="fa fa-bank"></i> <span>Banks</span></a></li>
        <li class="active"><a href="{{ site_url('backend/member') }}"><i class="fa fa-users"></i> <span>Members</span></a></li>
        <li class="active"><a href="{{ site_url('backend/furniture') }}"><i class="fa fa-bed"></i> <span>Furnitures</span></a></li>
        <li class="active"><a href="{{ site_url('backend/package') }}"><i class="fa fa-cubes"></i> <span>Packages</span></a></li>
        <li class="active"><a href="{{ site_url('backend/custom') }}"><i class="fa fa-list"></i> <span>Customs</span></a></li>
        <li class="active"><a href="{{ site_url('backend/extra') }}"><i class="fa fa-cart-plus"></i> <span>Extras</span></a></li>
        <li class="active"><a href="{{ site_url('backend/promotion') }}"><i class="fa fa-warning"></i> <span>Promotions</span></a></li>
        <li class="header">TRANSACTIONS</li>
        <li class="active"><a href="{{ site_url('backend/order') }}"><i class="fa fa-shopping-cart"></i> <span>Orders</span></a></li>
        <li class="active"><a href="{{ site_url('backend/testimonial') }}"><i class="fa fa-star"></i> <span>Testimonials</span></a></li>
        <li class="active"><a href="{{ site_url('backend/report') }}"><i class="fa fa-newspaper-o"></i> <span>Report</span></a></li>
        <li class="header">MISCELLANEOUS</li>
        <li class="active"><a href="{{ site_url('backend/setting') }}"><i class="fa fa-gear"></i> <span>Settings</span></a></li>
        <li class="active"><a href="https://dashboard.tawk.to/login" target="_blank"><i class="fa fa-gear"></i> <span>Open Chat</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">

      {% set msg = session.flashdata.msg %}
      {% if msg %}
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4><i class="icon fa fa-check"></i> Alert!</h4>
          {{ msg }}
        </div>
      {% endif %}

      {% set error = session.flashdata.error %}
      {% if error %}
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4><i class="icon fa fa-ban"></i> Alert!</h4>
          {{ error }}
        </div>
      {% endif %}

      <!-- Your Page Content Here -->
      {% block body %}{% endblock %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#">Pindahan</a>.</strong> All rights reserved.
  </footer>

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="{{ asset_url() }}/backend/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{{ asset_url() }}/backend/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="{{ asset_url() }}/backend/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ asset_url() }}/backend/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- bootstrap datepicker -->
<script src="{{ asset_url() }}/backend/plugins/datepicker/bootstrap-datepicker.js"></script>
<!-- AdminLTE App -->
<script src="{{ asset_url() }}/backend/dist/js/app.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->

{% block scripts %}{% endblock %}
</body>
</html>
