{% extends 'backend/masterpages/layout.html' %}
{% block body %}
<div class="col-xs-8 col-xs-offset-2">
	<!-- Horizontal Form -->
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">New Size</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{{ site_url('backend/size/docreate') }}" method="post">
              <div class="box-body">

                <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">Name</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Size Name" required="" minlength="5" maxlength="100">
                    <input type="hidden" name="furniture_id" value="{{ furniture_id }}">
                  </div>
                </div>

                <div class="form-group">
                  <label for="length" class="col-sm-2 control-label">Length (m)</label>

                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="length" name="length" placeholder="Length" required="" step="0.1">
                  </div>
                </div>

                <div class="form-group">
                  <label for="width" class="col-sm-2 control-label">Width (m)</label>

                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="width" name="width" placeholder="Width" required="" step="0.1">
                  </div>
                </div>

                <div class="form-group">
                  <label for="height" class="col-sm-2 control-label">Height (m)</label>

                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="height" name="height" placeholder="Height" required="" step="0.1">
                  </div>
                </div>

              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a href="{{ site_url('backend/size') }}/{{ furniture_id }}" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
</div>
{% endblock %}