{% extends 'backend/masterpages/layout.html' %}
{% block body %}

<div class="box">
	<div class="box-header">
		<h1 class="box-title">
			Size List for {{ furniture.name }}
		</h1>

		<a href="{{ site_url('backend/size/create') }}/{{ furniture.id }}" class="btn btn-xs btn-info pull-right"><i class="fa fa-plus"></i> New</a>
		<a href="{{ site_url('backend/furniture') }}" class="btn btn-xs btn-link pull-right"><i class="fa fa-mail-reply"></i> Back to Furniture</a>
	</div>
	<div class="box-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Length (m)</th>
					<th>Width (m)</th>
					<th>Height (m)</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for size in sizes %}
				<tr>
					<td>{{ size.name }}</td>
					<td>{{ size.length }}</td>
					<td>{{ size.width }}</td>
					<td>{{ size.height }}</td>
					<td>
						<a href="{{ site_url('backend/size/edit') }}/{{ furniture.id }}/{{ size.id }}" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></a>
						<a href="{{ site_url('backend/size/delete') }}/{{ furniture.id }}/{{ size.id }}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure to delete this item?');"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(function(){
		$('#example1').DataTable({
			"paging": true,
			"lengthChange": false,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false
	    });
	});
</script>
{% endblock %}