{% extends 'backend/masterpages/layout.html' %}
{% block body %}
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <!-- Horizontal Form -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">New Member</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal" action="{{ site_url('backend/member/docreate') }}" method="post">
        <div class="box-body">

          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email" required="" minlength="5" maxlength="100">
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="" minlength="5" maxlength="100">
            </div>
          </div>

          <div class="form-group">
            <label for="fullname" class="col-sm-2 control-label">Fullname</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Fullname" required="" minlength="5" maxlength="100">
            </div>
          </div>

          <div class="form-group">
            <label for="gender" class="col-sm-2 control-label">Gender</label>
            <div class="col-sm-10">
              <select class="form-control" name="gender">
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="dob" class="col-sm-2 control-label">Birthdate</label>
            <div class="col-sm-10">
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input class="form-control pull-right" id="datepicker" name="dob" type="text">
              </div>
              <!-- /.input group -->
            </div>
          </div>

          <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" required="" minlength="5" maxlength="100">
            </div>
          </div>

          <div class="form-group">
            <label for="address" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="3" id="address" name="address" placeholder="Address"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="is_merchant" value="1"> Is Merchant?
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="company_name" class="col-sm-2 control-label">Company</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="company_name" name="company_name" placeholder="Company Name" minlength="5" maxlength="100">
            </div>
          </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <a href="{{ site_url('backend/member') }}" class="btn btn-default">Cancel</a>
          <button type="submit" class="btn btn-info pull-right">Submit</button>
        </div>
        <!-- /.box-footer -->
      </form>
    </div>
    <!-- /.box -->
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  $(function(){
    //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    });
  });
</script>
{% endblock %}