{% extends 'backend/masterpages/layout.html' %}
{% block body %}

<div class="box">
	<div class="box-header">
		<h1 class="box-title">
			Member List
		</h1>

		<a href="{{ site_url('backend/member/create') }}" class="btn btn-xs btn-info pull-right"><i class="fa fa-plus"></i> New</a>
	</div>
	<div class="box-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Fullname</th>
					<th>Email</th>
					<th>Birthdate</th>
					<th>Phone</th>
					<th>Address</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for member in members %}
				<tr>
					<td>{{ member.fullname }}</td>
					<td>{{ member.email }}</td>
					<td>{{ member.dob | date('j F Y') }}</td>
					<td>{{ member.phone }}</td>
					<td>{{ member.address }}</td>
					<td>
						<a href="{{ site_url('backend/member/edit') }}/{{ member.id }}" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></a>
						<a href="{{ site_url('backend/member/delete') }}/{{ member.id }}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure to delete this item?');"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(function(){
		$('#example1').DataTable({
			"paging": true,
			"lengthChange": false,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false
	    });
	});
</script>
{% endblock %}