{% extends 'backend/masterpages/layout.html' %}
{% block body %}
<div class="col-xs-8 col-xs-offset-2">
	<!-- Horizontal Form -->
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">New Promotion</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{{ site_url('backend/promotion/docreate') }}" method="post" enctype="multipart/form-data">
              <div class="box-body">

                <div class="form-group">
                  <label for="promoimg" class="col-sm-2 control-label">Image</label>

                  <div class="col-sm-10">
                    <input type="file" accept="image/*" id="promoimg" name="promoimg" required="">
                  </div>
                </div>

              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a href="{{ site_url('backend/promotion') }}" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
</div>
{% endblock %}