{% extends 'backend/masterpages/layout.html' %}
{% block body %}

<div class="box">
	<div class="box-header">
		<h1 class="box-title">
			Promotion List
		</h1>

		<a href="{{ site_url('backend/promotion/create') }}" class="btn btn-xs btn-info pull-right"><i class="fa fa-plus"></i> New</a>
	</div>
	<div class="box-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Image</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for promotion in promotions %}
				<tr>
					<td><img width="200" src="{{ upload_url('promo') }}/{{ promotion.image_path }}"></td>
					<td>
						<a href="{{ site_url('backend/promotion/delete') }}/{{ promotion.id }}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure to delete this item?');"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(function(){
		$('#example1').DataTable({
			"paging": true,
			"lengthChange": false,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false
	    });
	});
</script>
{% endblock %}