{% extends 'backend/masterpages/layout.html' %}
{% block body %}
<div class="col-xs-8 col-xs-offset-2">
	<!-- Horizontal Form -->
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">New Package</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{{ site_url('backend/package/docreate') }}" method="post">
              <div class="box-body">

                <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">Name</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Package Name" required="" minlength="5" maxlength="100">
                  </div>
                </div>

                <div class="form-group">
                  <label for="price" class="col-sm-2 control-label">Price</label>

                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="price" name="price" placeholder="Package Price" required="">
                  </div>
                </div>

                <div class="form-group">
                  <label for="transportation" class="col-sm-2 control-label">Transportation</label>

                  <div class="col-sm-4">
                    <input type="number" class="form-control" id="transportation" name="transportation" placeholder="Transportation Amount" required="">
                  </div>

                  <div class="col-sm-6">
                    <select name="transportation_id" id="transportation_id" class="form-control" required="">
                      <option value="">Select vehicle</option>
                      {% for vehicle in vehicles %}
                      <option value="{{ vehicle.id }}">{{ vehicle.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="distance" class="col-sm-2 control-label">Distance</label>

                  <div class="col-sm-2">
                    <input type="number" class="form-control" id="distance" name="distance" placeholder="Free Distance" required="">
                  </div>

                  <label for="employee" class="col-sm-2 control-label">Worker</label>

                  <div class="col-sm-2">
                    <input type="number" class="form-control" id="employee" name="employee" placeholder="Worker" required="">
                  </div>

                  <label for="box" class="col-sm-2 control-label">Box</label>

                  <div class="col-sm-2">
                    <input type="number" class="form-control" id="box" name="box" placeholder="Free Box" required="">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="is_best_offer" value="1"> Best Offer
                      </label>
                    </div>
                  </div>
                </div>

              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a href="{{ site_url('backend/package') }}" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
</div>
{% endblock %}