{% extends 'backend/masterpages/layout.html' %}
{% block body %}

<div class="box">
	<div class="box-header">
		<h1 class="box-title">
			Package List
		</h1>
		{% if count(packages) == 4 %}
		<a href="#" class="btn btn-xs btn-info pull-right" onclick="alert('Cannot add more than 4 package.');"><i class="fa fa-plus"></i> New</a>
		{% else %}
		<a href="{{ site_url('backend/package/create') }}" class="btn btn-xs btn-info pull-right"><i class="fa fa-plus"></i> New</a>
		{% endif %}
	</div>
	<div class="box-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Price</th>
					<th>Transportation</th>
					<th>Free Distance (m)</th>
					<th>Worker</th>
					<th>Free Box</th>
					<th>Best Offer</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for package in packages %}
				<tr>
					<td>{{ package.name }}</td>
					<td>{{ package.price }}</td>
					<td>{{ package.transportation }} {{ package.vehicle.name }}</td>
					<td>{{ package.distance }}</td>
					<td>{{ package.employee }}</td>
					<td>{{ package.box }}</td>
					<td>{{ package.is_best_offer == 1? "Yes" : "No" }}</td>
					<td>
						<a href="{{ site_url('backend/package/edit') }}/{{ package.id }}" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></a>
						<a href="{{ site_url('backend/package/delete') }}/{{ package.id }}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure to delete this item?');"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(function(){
		$('#example1').DataTable({
			"paging": true,
			"lengthChange": false,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false
	    });
	});
</script>
{% endblock %}