<!DOCTYPE html>
<html>
<head>
	<title>TANDA BUKTI PEMBAYARAN</title>
</head>
<style type="text/css">
body{
	font-family: Arial;
}
.box-title{
	border: 2px solid black;
	padding: 10px;
	margin: 0 auto;
	width: 50%;
	text-align: center;
}
.box-text{
	border: 2px solid black;
	padding: 10px;
}
.underlined{
	padding: 10px;
	border-bottom: 	2px solid black;
}
</style>
<body>
	<h1>Pindahan.com</h1>
	<p>
	Jalan U no. 9A
	<br>Palmerah - 11480
	<br>Jakarta Barat
	</p>
	<hr>
	<div class="box-title">
		TANDA BUKTI PEMBAYARAN
	</div>
	<br>
	<div>	
		<table style="margin: 0 auto;" cellpadding="10">	
			<tr>
				<td>Telah Terima Dari:</td>
				<td>
					<div class="underlined">{{ name }}</div>
				</td>
			</tr>
			<tr>
				<td>Uang Sejumlah:</td>
				<td>
					<div class="box-text">{{ terbilang }}</div>
				</td>
			</tr>
			<tr>
				<td>Untuk Pembayaran:</td>
				<td>
					<div class="underlined">UANG PELUNASAN</div>
				</td>
			</tr>
		</table>
	</div>
	<br>
	<br>
	<div style="padding-left: 20px; padding-right:20px">
		<div style="float: left; width: 20%" class="box-text">
			Rp {{ price | number_format(0, '', '.') }},00
		</div>
		<div style="float:right; text-align: center;">
			Jakarta, {{ date('j F Y') }}
			<br>
			<br>
			<br>
			<br>
			<br>
			[Admin Pindahan]
		</div>
	</div>
</body>
</html>