<!DOCTYPE html>
<html>
<head>
	<title>SURAT PERINTAH KERJA</title>
</head>
<style type="text/css">
body{
	font-family: Arial;
}
.box-title{
	border: 2px solid black;
	padding: 10px;
	margin: 0 auto;
	width: 50%;
	text-align: center;
}
.box-text{
	border: 2px solid black;
	padding: 10px;
}
.underlined{
	padding: 10px;
	border-bottom: 	2px solid black;
}
table, td, th {    
    border: 2px solid black;
    text-align: left;
}
table {
    border-collapse: collapse;
	width: 50%;
}
th, td {
    padding: 10px;
}

</style>
<body>
	<h1>Pindahan.com</h1>
	<p>
	Jalan U no. 9A
	<br>Palmerah - 11480
	<br>Jakarta Barat
	</p>
	<hr>
	<div class="box-title">
		<b>SURAT PERINTAH KERJA (SPK)</b>
		<br>
		No. SPK-PND/{{ date('Y/m') }}/{{ order_id }}
	</div>
	<br>

	<div style="text-align: center">
	<p>Berikut ini adalah nama-nama karyawan yang diberikan perintah kerja untuk melakukan pindahan:</p>
		<table style="margin: 0 auto;">
			<tr>
				<th>Nama</th>
				<th>Jabatan</th>
			</tr>
			{% for worker in workers %}
			<tr>
				<td>{{ worker.fullname }}</td>
				<td>Karyawan</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<br>
	<br>
	<br>
	<div style="padding-left: 20px; padding-right:20px">
		<div style="float:right; text-align: center;">
			Jakarta, {{ date('j F Y') }}
			<br>
			<br>
			<br>
			<br>
			<br>
			[Admin Pindahan]
		</div>
	</div>
</body>
</html>