<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pindahan | Solusi Pindahan Mudah</title>

    <meta name="keywords" content="">
    
    {{ include('partials/styles.html') }}

</head>

<body>

    <div id="all">

        <header>

            <!-- *** TOP ***
_________________________________________________________ -->
            <div id="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-5 contact">
                            <p class="hidden-sm hidden-xs">Hubungi kami: (021)-5512345 atau hello@pindahan.com</p>
                            <p class="hidden-md hidden-lg"><a href="#" data-animate-hover="pulse"><i class="fa fa-phone"></i></a>  <a href="#" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </p>
                        </div>
                        <div class="col-xs-7">
                            <!-- <div class="social">
                                <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </div> -->
                            {% if not session.userdata.user %}
                            <div class="login">
                                <a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Masuk</span></a>
                                <a href="{{ site_url('account/register') }}"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">Daftar</span></a>
                            </div>
                            {% else %}
                            <div class="login">
                                <a href="{{ site_url('order/order_list') }}"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">{{ session.userdata.user.fullname }}</span></a>
                                <a href="{{ site_url('account/logout') }}"><i class="fa fa-sign-out"></i> <span class="hidden-xs text-uppercase">Keluar</span></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- *** TOP END *** -->

            <!-- *** NAVBAR ***
    _________________________________________________________ -->

            <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

                <div class="navbar navbar-default yamm" role="navigation" id="navbar">

                    <div class="container">
                        <div class="navbar-header">

                            <a class="navbar-brand home" href="{{ site_url('') }}" style="padding-top: 20px; color: #467FBF; font-size: 35px;">
                                <!-- <img src="img/logo.png" alt="Universal logo" class="hidden-xs hidden-sm">
                                <img src="img/logo-small.png" alt="Universal logo" class="visible-xs visible-sm"><span class="sr-only">Pindahan - go to homepage</span> -->
                                Pindahan
                            </a>
                            <div class="navbar-buttons">
                                <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                                    <span class="sr-only">Toggle navigation</span>
                                    <i class="fa fa-align-justify"></i>
                                </button>
                            </div>
                        </div>
                        <!--/.navbar-header -->
                        {% if is_landing %}
                        <div class="navbar-collapse collapse" id="navigation">

                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="menus" href="#home">Home</a></li>
                                <li><a class="menus" href="#service">Layanan</a></li>
                                <li><a class="menus" href="#price">Harga</a></li>
                                <li><a class="menus" href="#custom">Custom</a></li>
                                <li><a class="menus" href="#testimonial">Testimonial</a></li>
                                <li><a class="menus" href="#partner">Partner</a></li>
                                <li class="dropdown">
                                    <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Kontak <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-phone"></i>(021)-5512345</a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-envelope"></i>hello@pindahan.com</a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>

                        </div>
                        <!--/.nav-collapse -->
                        {% endif %}



                        <div class="collapse clearfix" id="search">

                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">

                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

                </span>
                                </div>
                            </form>

                        </div>
                        <!--/.nav-collapse -->

                    </div>


                </div>
                <!-- /#navbar -->

            </div>

            <!-- *** NAVBAR END *** -->

        </header>
        {{ include('partials/login_modal.html') }}
        {% block body %}{% endblock %}



        <!-- *** GET IT END *** -->

        {{ include('partials/footer.html') }}

    </div>
    <!-- /#all -->

    {{ include('partials/scripts.html') }}
    {% block scripts %}{% endblock %}
    
    

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var $_Tawk_API={},$_Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/583fd6b31aad883390fad917/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

</body>

</html>