<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pindahan | Solusi Pindahan Mudah</title>

    <meta name="keywords" content="">
    {{ include('partials/styles.html') }}
</head>

<body>


    <div id="all">
        <header>

            <!-- *** TOP ***
_________________________________________________________ -->
            <div id="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-5 contact">
                            <p class="hidden-sm hidden-xs">Hubungi kami: (021)-5512345 atau hello@pindahan.com</p>
                            <p class="hidden-md hidden-lg"><a href="#" data-animate-hover="pulse"><i class="fa fa-phone"></i></a>  <a href="#" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </p>
                        </div>
                        <div class="col-xs-7">
                            <!-- <div class="social">
                                <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </div> -->
                            <div class="login">
                                <a href="{{ site_url('order/order_list') }}"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">{{ session.userdata.user.fullname }}</span></a>
                                <a href="{{ site_url('account/logout') }}"><i class="fa fa-sign-out"></i> <span class="hidden-xs text-uppercase">Keluar</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- *** TOP END *** -->

            <!-- *** NAVBAR ***
    _________________________________________________________ -->

            <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

                <div class="navbar navbar-default yamm" role="navigation" id="navbar">

                    <div class="container">
                        <div class="navbar-header">

                            <a class="navbar-brand home" href="{{ site_url('') }}" style="padding-top: 20px; color: #467FBF; font-size: 35px;">
                                <!-- <img src="img/logo.png" alt="Universal logo" class="hidden-xs hidden-sm">
                                <img src="img/logo-small.png" alt="Universal logo" class="visible-xs visible-sm"><span class="sr-only">Pindahan - go to homepage</span> -->
                                Pindahan
                            </a>
                            <div class="navbar-buttons">
                                <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                                    <span class="sr-only">Toggle navigation</span>
                                    <i class="fa fa-align-justify"></i>
                                </button>
                            </div>
                        </div>
                        <!--/.navbar-header -->

                        <div class="navbar-collapse collapse" id="navigation">

                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="{{ site_url('') }}#home">Home</a></li>
                                <li><a class="menus" href="{{ site_url('') }}#service">Layanan</a></li>
                                <li><a class="menus" href="{{ site_url('') }}#price">Harga</a></li>
                                <li><a class="menus" href="{{ site_url('') }}#custom">Custom</a></li>
                                <li><a class="menus" href="{{ site_url('') }}#testimonial">Testimonial</a></li>
                                <li><a class="menus" href="{{ site_url('') }}#partner">Partner</a></li>
                                <li class="dropdown">
                                    <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Kontak <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-phone"></i>(021)-5512345</a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-envelope"></i>hello@pindahan.com</a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>

                        </div>
                        <!--/.nav-collapse -->



                        <div class="collapse clearfix" id="search">

                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">

                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

                </span>
                                </div>
                            </form>

                        </div>
                        <!--/.nav-collapse -->

                    </div>


                </div>
                <!-- /#navbar -->

            </div>

            <!-- *** NAVBAR END *** -->

        </header>

        {% if title_page %}
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>{{ title_page }}</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">

                            <li><a href="{{ site_url('') }}">Home</a>
                            </li>
                            <li>{{ title_page }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div id="content" class="clearfix">

            <div class="container">

                <div class="row">
                    {% if session.userdata.user.email_confirm == 0 %}
                    <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Harap konfirmasi ulang email anda.</strong> Silahkan lakukan konfirmasi email dengan membuka link yang kami kirimkan ke inbox email anda.
                        <br>
                        <a href="{{ site_url('account/resendEmailConfirmation') }}">Klik di sini untuk kirim ulang konfirmasi email.</a>
                    </div>
                    {% endif %}

                    {% if has_menu %}
                    <!-- *** LEFT COLUMN ***
             _________________________________________________________ -->

                    <div class="col-md-3">
                        <!-- *** CUSTOMER MENU ***
 _________________________________________________________ -->
                        <div class="panel panel-default sidebar-menu">

                            <div class="panel-heading">
                                <h3 class="panel-title">Menu</h3>
                            </div>

                            <div class="panel-body">

                                <ul class="nav nav-pills nav-stacked">
                                    <li class="active">
                                        <a href="{{ site_url('/order/new_order') }}"><i class="fa fa-plus"></i> Pesan pindahan</a>
                                    </li>
                                    <li>
                                        <a href="{{ site_url('/order/order_list') }}"><i class="fa fa-list"></i> Pesanan saya</a>
                                    </li>
                                    <li>
                                        <a href="{{ site_url('/account/profile') }}"><i class="fa fa-user"></i> Akun saya</a>
                                    </li>
                                    <li>
                                        <a href="{{ site_url('/account/logout') }}"><i class="fa fa-sign-out"></i> Keluar</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <!-- /.col-md-3 -->

                        <!-- *** CUSTOMER MENU END *** -->
                    </div>

                    <!-- *** LEFT COLUMN END *** -->
                {% endif %}
                    <!-- *** RIGHT COLUMN ***
                
			 _________________________________________________________ -->
                    {% block body %}{% endblock %}
                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ include('partials/footer.html') }}

    </div>
    <!-- /#all -->


    {{ include('partials/scripts.html') }}
    {% block scripts %}{% endblock %}
</body>

</html>