{% extends 'backend/masterpages/layout.html' %}
{% block body %}
<div class="col-xs-8 col-xs-offset-2">
	<!-- Horizontal Form -->
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Settings</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{{ site_url('backend/setting/doedit') }}" method="post">
              <div class="box-body">

                {% for setting in settings %}
                <div class="form-group">
                  <label for="{{ setting.name }}" class="col-sm-3 control-label">{{ setting.name | replace({'_': ' '}) | upper }}</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="{{ setting.name }}" name="{{ setting.name }}" placeholder="Setting Name" required="" minlength="5" maxlength="100" value="{{ setting.value }}">
                  </div>
                </div>
                {% endfor %}
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Save</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
</div>
{% endblock %}