{% extends 'backend/masterpages/layout.html' %}
{% block body %}
<div class="col-xs-8 col-xs-offset-2">
	<!-- Horizontal Form -->
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Payment Confirmation</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{{ site_url('backend/order/doconfirm') }}" method="post">
              <div class="box-body">
                <input type="hidden" name="order_id" value="{{ order_id }}">
                <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">Transfered to</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{ bank.bank_name ~ ' - ' ~ bank.account_name }}" disabled="">
                  </div>
                </div>

                <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">Transfered from</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{ confirm.bank_name }}" disabled="">
                  </div>
                </div>

                <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">Account name</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{ confirm.account_name }}" disabled="">
                  </div>
                </div>

                <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">Amount</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" value="Rp {{ confirm.amount | number_format(0, '', '.') }}" disabled="">
                  </div>
                </div>

                <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">Note</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{ confirm.note }}" disabled="">
                  </div>
                </div>

              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a href="{{ site_url('backend/order') }}" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Confirm Payment</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
</div>
{% endblock %}