{% extends 'backend/masterpages/layout.html' %}
{% block body %}
  <div class="row">
    <div class="col-xs-12">
      <h2>
        Order Detail
        <a href="{{ site_url('backend/order') }}" class="btn btn-link pull-right">&laquo; Back to list</a>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <!-- Horizontal Form -->
      <div class="box">
        <!-- form start -->
        <form class="form-horizontal">
          <div class="box-body">
            <div class="table-responsive">
              <h4>Info Umum</h4>
              <table class="table">
                  <tbody>
                      <tr>
                          <td>Nama pemesan</td>
                          <th>{{ order.fullname }}</th>
                      </tr>
                      <tr>
                          <td>Nomor HP</td>
                          <th>{{ order.phone }}</th>
                      </tr>
                      <tr>
                          <td>Tanggal Pindahan</td>
                          <th>{{ order.move_datetime | date('j F Y') }}</th>
                      </tr>
                      <tr>
                          <td>Waktu Pindahan</td>
                          <th>{{ order.move_datetime | date('H:i') }}</th>
                      </tr>
                      <tr>
                          <td>Catatan Tambahan</td>
                          <th>{{ order.note }}</th>
                      </tr>
                      {% if order.blueprint %}
                      <tr>
                          <td>Denah Ruangan Lokasi Tujuan</td>
                          <th>
                              <a href="{{ upload_url('temp/' ~ order.blueprint) }}">Lihat gambar di sini</a>
                          </th>
                      </tr>
                      {% endif %}
                  </tbody>
              </table>
            </div>
          </div>
          <!-- /.box-body -->
        </form>
      </div>
      <!-- /.box -->

      <!-- Horizontal Form -->
      <div class="box">
        <!-- form start -->
        <form class="form-horizontal">
          <div class="box-body">
            <div class="table-responsive">
                <h4>Furnitur</h4>
                <p>Volume total: {{ order.total_volume }} m<sup>3</sup></p>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Jenis</th>
                            <th>Ukuran</th>
                            <th>Jumlah</th>
                        </tr>
                        {% for furniture in order.furnitures %}
                        <tr>
                            <td>{{ furniture.name }}</td>
                            <td>
                                {% if furniture.size_id != 0 %}
                                    {{ furniture.size }}
                                {% else %}
                                    Custom ({{furniture.description}})
                                {% endif %}
                            </td>
                            <td>{{ furniture.qty }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
          <!-- /.box-body -->
        </form>
      </div>
      <!-- /.box -->
    </div>

    <div class="col-xs-6">
      <!-- Horizontal Form -->
      <div class="box">
        <!-- form start -->
        <form class="form-horizontal">
          <div class="box-body">
            <div class="table-responsive">
                <h4>Lokasi</h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Alamat penjemputan</th>
                        </tr>
                        <tr>
                            <td>{{ order.start_address }}</td>
                        </tr>
                        <tr>
                            <th>Alamat penjemputan</th>
                        </tr>
                        <tr>
                            <td>{{ order.end_address }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
          <!-- /.box-body -->
        </form>
      </div>
      <!-- /.box -->

      <!-- Horizontal Form -->
      <div class="box">
        <!-- form start -->
        <form class="form-horizontal">
          <div class="box-body">
            <div class="table-responsive">
                <h4>Harga</h4>
                <table class="table">
                {% if order.package_id != 0 %}
                    {% set order_dist = order.distance / 1000 %}
                    {% set paid_dist = order_dist > (order.package.distance*1000)? order_dist - order.package.distance * 1000 : 0 %}
                    <tbody>
                        <tr>
                            <td>Pilihan Harga</td>
                            <th>Paket / <del>Custom</del></th>
                        </tr>
                        <tr>
                            <td>Jenis Paket</td>
                            <th>{{ order.package.name }}</th>
                        </tr>
                        <tr>
                            <td>Transportasi</td>
                            <th>{{ order.package.transportation }}</th>
                        </tr>
                        <tr>
                            <td>Pekerja</td>
                            <th>{{ order.package.employee }}</th>
                        </tr>
                        <tr>
                            <td>Kardus</td>
                            <th>{{ order.package.box }}</th>
                        </tr>
                        <tr>
                            <td>Jarak Tempuh</td>
                            <th>{{ order_dist }} km (gratis {{ order.package.distance }} km)</th>
                        </tr>
                        <tr>
                            <td>Estimasi waktu</td>
                            <th>{{ order.duration }} jam</th>
                        </tr>
                        <tr>
                            <td>Biaya Ongkos (Rp {{ transport_fee | number_format(0,'','.') }},-)</td>
                            <th>Rp {{ (paid_dist * transport_fee) | number_format(0, '', '.') }},- <span class="text-muted">({{ paid_dist }} km)</span></th>
                        </tr>
                        <tr>
                            <td>Biaya Paket</td>
                            <th>Rp {{ order.package.price | number_format(0,'','.') }},-</th>
                        </tr>
                        <tr class="total">
                            <td>Total Dibayarkan</td>
                            <th>Rp {{ (order.price + (paid_dist * transport_fee)) | number_format(0, '', '.') }},-</th>
                        </tr>
                        {% if higherPrice %}
                        <tr>
                            <td colspan="2"><strong>Perhatian </strong>Total biaya anda dikenakan charga 50%</td>
                        </tr>
                        {% endif %}
                    </tbody>
                {% else %}
                    {% set order_dist = order.distance / 1000 %}
                    {% set paid_dist = order_dist %}
                    <tbody>
                        <tr>
                            <td>Pilihan Harga</td>
                            <th><del>Paket</del> / Custom</th>
                        </tr>
                        {% for i in 0..((order.customs | length)-1) %}
                        <tr>
                            <td>{{ order.customs[i].name }}</td>
                            <td>{{ order.customs[i].qty }}</td>
                        </tr>
                        {% endfor %}
                        {% for i in 0..((order.extras | length)-1) %}
                        <tr>
                            <td>{{ order.extras[i].name }}</td>
                            <td>{{ order.extras[i].qty }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>Jarak Tempuh</td>
                            <th>{{ order_dist }} km</th>
                        </tr>
                        <tr>
                            <td>Estimasi waktu</td>
                            <th>{{ order.duration }} jam</th>
                        </tr>
                        <tr>
                            <td>Biaya Ongkos (Rp {{ transport_fee | number_format(0,'','.') }},-)</td>
                            <th>Rp {{ (paid_dist * transport_fee) | number_format(0, '', '.') }},- <span class="text-muted">({{ paid_dist }} km)</span></th>
                        </tr>
                        <tr>
                            <td>Biaya Custom</td>
                            <th>Rp {{ (order.price - (paid_dist * transport_fee)) | number_format(0,'','.') }},-</th>
                        </tr>
                        <tr class="total">
                            <td>Total Dibayarkan</td>
                            <th>Rp {{ (order.price) | number_format(0, '', '.') }},-</th>
                        </tr>
                        {% if higherPrice %}
                        <tr>
                            <td colspan="2"><strong>Perhatian </strong>Total biaya anda dikenakan charga 50%</td>
                        </tr>
                        {% endif %}
                    </tbody>
                {% endif %}
                </table>
            </div>
          </div>
        </form>
      </div>
      <!-- /.box -->
    </div>
  </div>
{% endblock %}