{% extends 'backend/masterpages/layout.html' %}
{% block body %}
<div class="row">
<div class="col-xs-8 col-xs-offset-2">
  <!-- Horizontal Form -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Edit Customs & Extras</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" action="{{ site_url('backend/order/doeditcustom') }}" method="post">
      <div class="box-body">
        <input type="hidden" name="order_id" value="{{ order_id }}">
        
        <h5>Customs</h5>
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% set idx = 0%}
            {% for custom in customs %}
            <tr>
              <td>{{ custom.name }}</td>
              <td>{{ custom.price }}</td>
              <td>
                <input type="hidden" name="custom_id[]" value="{{ custom.id }}">
                <input type="hidden" id="price" value="{{ custom.price }}">
                <input type="number" class="qty" name="custom_qty[]" style="width: 50px;" value="{{ ordercustoms[idx].qty }}" min="0" max="{{ custom.max_qty }}">/{{ custom.max_qty }}
              </td>
              <td>
                <input type="hidden" id="hdftotal" class="hdftotal">
                <span id="total">0</span>
              </td>
            </tr>
            {% set idx = idx + 1 %}
            {% endfor %}
          </tbody>
        </table>
        <hr>
        <h5>Extras</h5>
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% set idx = 0%}
            {% for extra in extras %}
            <tr>
              <td>{{ extra.name }}</td>
              <td>{{ extra.price }}</td>
              <td>
                <input type="hidden" name="extra_id[]" value="{{ extra.id }}">
                <input type="hidden" id="price" value="{{ extra.price }}">
                <input type="number" class="qty" name="extra_qty[]" style="width: 50px;" value="{{ orderextras[idx].qty }}" min="0" max="20">
              </td>
              <td>
                <input type="hidden" id="hdftotal" class="hdftotal">
                <span id="total">0</span>
              </td>
            </tr>
            {% set idx = idx + 1 %}
            {% endfor %}
          </tbody>
        </table>

        <h3>
          Grand Total
          <span class="pull-right" id="txtgrandtotal"></span>
          <input type="hidden" name="grandtotal" id="grandtotal">
        </h3>

      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <a href="{{ site_url('backend/order') }}" class="btn btn-default">Back</a>
        <button type="submit" class="btn btn-info pull-right">Submit</button>
      </div>
      <!-- /.box-footer -->
    </form>
  </div>
  <!-- /.box -->
</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  
$(function(){
  $(document).ready(function(){
    $('.qty').each(function(id, el){
      evaluateTotalPerRow(this);
    });
    evaluateGrandTotal();
  });

  $('.qty').change(function(){
    evaluateTotalPerRow(this);
    evaluateGrandTotal();
  });

  function evaluateTotalPerRow(obj)
  {
    var $this = $(obj);
    var $tr = $this.parent().parent();
    var price = $tr.find('#price').val();
    var qty = $this.val();
    var total = price * qty;
    $tr.find('#total').text(total);
    $tr.find('#hdftotal').val(total);
  }

  function evaluateGrandTotal()
  {
    var grandtotal = 0;
    $('.hdftotal').each(function(){
      grandtotal += parseInt($(this).val());
    });
    $('#txtgrandtotal').text('Rp ' + grandtotal);
    $('#grandtotal').val(grandtotal);
  }

});

</script>
{% endblock %}