{% extends 'backend/masterpages/layout.html' %}
{% block body %}
<div class="row">
<div class="col-xs-8 col-xs-offset-2">
	<!-- Horizontal Form -->
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Order Information</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{{ site_url('backend/order/doeditgeneral') }}" method="post">
              <div class="box-body">
                <input type="hidden" name="id" value="{{ order.id }}">

                <div class="form-group">
                  <label for="fullname" class="col-sm-2 control-label">Fullname</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Fullname" required="" minlength="5" maxlength="100" value="{{ order.fullname }}">
                  </div>
                </div>

                <div class="form-group">
                  <label for="phone" class="col-sm-2 control-label">Phone</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" required="" minlength="5" maxlength="100" value="{{ order.phone }}">
                  </div>
                </div>

                <div class="form-group">
                  <label for="move_datetime" class="col-sm-2 control-label">Date/Time</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control datepicker" id="move_datetime" name="move_datetime" placeholder="Move Date and Time" required="" minlength="5" maxlength="100" value="{{ order.move_datetime }}">
                  </div>
                </div>

                <div class="form-group">
                  <label for="start_address" class="col-sm-2 control-label">Start Address</label>

                  <div class="col-sm-10">
                    <textarea class="form-control" id="start_address" name="start_address" placeholder="Start Address" required="" minlength="5" maxlength="100">{{ order.start_address }}</textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label for="end_address" class="col-sm-2 control-label">End Address</label>

                  <div class="col-sm-10">
                    <textarea class="form-control" id="end_address" name="end_address" placeholder="End Address" required="" minlength="5" maxlength="100">{{ order.end_address }}</textarea>
                  </div>
                </div>

                {% if order.package_id != 0 %}
                <div class="form-group">
                  <label for="package_id" class="col-sm-2 control-label">Package</label>

                  <div class="col-sm-10">
                    <select name="package_id" id="package_id" class="form-control">
                      {% for package in packages %}
                        <option value="{{ package.id }}" {{ order.package_id == package.id? 'selected' : '' }}>{{ package.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                {% endif %}


              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a href="{{ site_url('backend/order') }}" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
</div>
</div>
{% endblock %}
{% block scripts %}

<!-- Bootstrap Datetime Picker -->
<link rel="stylesheet" href="{{ bower_url() }}/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
<!-- Bootstrap Datetime Picker -->
<script type="text/javascript" src="{{ bower_url() }}moment/min/moment.min.js"></script>
<script type="text/javascript" src="{{ bower_url() }}eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">
  $('.datepicker').datetimepicker({
    inline: true,
    sideBySide: true,
    defaultDate: moment('{{ order.move_datetime }}')
  });
</script>
{% endblock %}