{% extends 'backend/masterpages/layout.html' %}
{% block body %}
<div class="row">
<div class="col-xs-6">
  <!-- Horizontal Form -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Edit Furnitures</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" action="{{ site_url('backend/order/doeditfurniture') }}" method="post">
      <div class="box-body">
        <input type="hidden" name="order_id" value="{{ order_id }}">
        <div class="form-group">
          <label for="furniture_id" class="col-sm-2 control-label">Furniture</label>
          <div class="col-sm-10">
            <select name="furniture_id" id="appliances" class="form-control" required="">
                <option>Select the furniture</option>
              {% for furniture in furnitures %}
                <option value="{{ furniture.id }}">{{ furniture.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="size_id" class="col-sm-2 control-label">Size</label>
          <div class="col-sm-10">
            <select name="size_id" id="sizes" class="form-control" required="">
              <option>Select the size</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="qty" class="col-sm-2 control-label">Quantity</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="qty" name="qty" required="">
          </div>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <a href="{{ site_url('backend/order') }}" class="btn btn-default">Back</a>
        <button type="submit" class="btn btn-info pull-right">Submit</button>
      </div>
      <!-- /.box-footer -->
    </form>
  </div>
  <!-- /.box -->
</div>
<div class="col-xs-6">
  <!-- Horizontal Form -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Furniture List</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Qty</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for furniture in orderfurnitures %}
        <tr>
          <td>{{ furniture.name }}</td>
          <td>{{ furniture.size }}</td>
          <td>{{ furniture.qty }}</td>
          <td>
            <a href="{{ site_url('backend/order/deletefurniture') }}/{{ order_id }}/{{ furniture.id }}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure to delete this item?');"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      </div>
      <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  
    // get sizes for appliance
    $('#appliances').change(function() {
        $applianceID = $(this).val();
        $.ajax({
            url: '{{ site_url("order/get_size") }}/' + $applianceID,
            success: function(res) {
                if(res){
                    $('#sizes').empty();
                    $('#sizes').append('<option value="">Select size</option>');
                    for (var i = 0; i < res.length; i++) {
                        $('#sizes').append('<option value="' + res[i].id + '-' + (res[i].length*res[i].width*res[i].height) + '">' + res[i].name + ' (' + res[i].length + 'm x ' + res[i].width + 'm x ' + res[i].height + 'm)</option>');
                    }
                    //$('#sizes').append('<option value="0">Pilih ukuran sendiri</option>');
                }
            }
        });
    });
</script>
{% endblock %}