{% extends 'backend/masterpages/layout.html' %}
{% block body %}

<div class="box">
	<div class="box-header">
		<h1 class="box-title">
			Order List
		</h1>
	</div>
	<div class="box-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Phone</th>
					<th>Date/Time</th>
					<th>Distance (m)</th>
					<th>Type</th>
					<th>Price</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for order in orders %}
				<tr>
					<td>{{ order.id }}</td>
					<td>{{ order.fullname }}</td>
					<td>{{ order.phone }}</td>
					<td>{{ order.move_datetime | date('d-m-Y H:i') }}</td>
					<td>{{ order.distance | number_format(0, '', '.') }}</td>
					<td>{{ order.package_id == 0? "Custom" : order.package.name }}</td>
					<td>{{ order.price | number_format(0, '', '.') }}</td>
					<td>
						{% include('partials/payment_status.html') %}
					</td>
					<td>
						<a href="{{ site_url('backend/order/detail') }}/{{ order.id }}" class="btn btn-xs btn-default" title="Order Detail"><i class="fa fa-eye"></i></a>
						{% if order.payment_status == 1 %}
						<a href="{{ site_url('backend/order/confirmation') }}/{{ order.id }}" class="btn btn-xs btn-success" title="Confirmation"><i class="fa fa-dollar"></i></a>
						{% endif %}
						{% if order.payment_status == 2 %}
						<a href="{{ site_url('backend/order/finished') }}/{{ order.id }}" class="btn btn-xs btn-success" title="Finish Order"><i class="fa fa-check"></i></a>
						{% endif %}
						{% if order.payment_status == 4 %}
						<a href="#" class="btn btn-xs btn-danger" title="Cancel Reason" onclick="alert('{{ order.cancellation.reason }}');"><i class="fa fa-times"></i></a>
						{% endif %}

						{% if order.payment_status == 2 and not order.scheduled %}
						<a href="{{ site_url('backend/order/schedule') }}/{{ order.id }}" class="btn btn-xs btn-default" title="Set workers"><i class="fa fa-user-plus"></i></a>
						{% endif %}

						{% if order.payment_status == 2 or order.payment_status == 3 %}
						<div class="btn-group">
						  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <i class="fa fa-print"></i> <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu">
						  	{% if order.scheduled %}
						    <li><a href="{{ site_url('backend/order/print_spk') }}/{{ order.id }}" target="_blank">SPK</a></li>
						    {% endif %}
						    <li><a href="{{ site_url('backend/order/print_dp') }}/{{ order.id }}" target="_blank">DP 50%</a></li>
						    {% if order.payment_status == 3 %}
						    <li><a href="{{ site_url('backend/order/print_complete') }}/{{ order.id }}" target="_blank">Complete</a></li>
						    {% endif %}
						  </ul>
						</div>
						{% endif %}

						<div class="btn-group">
						  <button type="button" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <i class="fa fa-pencil"></i> <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu">
						    <li><a href="{{ site_url('backend/order/edit_general') }}/{{ order.id }}">Information</a></li>
						    <li><a href="{{ site_url('backend/order/edit_furniture') }}/{{ order.id }}">Furnitures</a></li>
						    {% if order.package_id == 0 %}
						    <li><a href="{{ site_url('backend/order/edit_custom') }}/{{ order.id }}">Customs</a></li>
						    {% endif %}
						  </ul>
						</div>
						{#
						<a href="{{ site_url('backend/order/delete') }}/{{ order.id }}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure to delete this item?');"><i class="fa fa-trash"></i></a>
						#}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(function(){
		$('#example1').DataTable({
			"paging": true,
			"lengthChange": false,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false
	    });
	});
</script>
{% endblock %}