{% extends 'backend/masterpages/layout.html' %}
{% block body %}

<div class="box">
	<div class="box-header">
		<h1 class="box-title">
			Select Workers
		</h1>
	</div>
	<form action="{{ site_url('backend/order/saveschedule') }}" method="post">
	<div class="box-body">
		<h4>Order Information</h4>
		<h5>
			Period: {{ start }} - {{ end }}
		</h5>
		<h5>
			From: {{ order.start_address }}
		</h5>
		<h5>
			To: {{ order.end_address }}
		</h5>
		<h5>
			Distance: {{ order.distance/1000 }} km
		</h5>
		<hr>
		<h4>Available Workers</h4>
		<p>Please select {{ worker_amount }} workers.</p>
		<input type="hidden" name="order_id" value={{ order.id }}>
		{% for worker in workers %}
		<div class="col-xs-4">
			<div class="alert alert-info">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="worker_id[]" value="{{ worker.id }}">
						{{ worker.fullname }}
					</label>
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="row">
			<div class="col-xs-12">
				<a href="{{ site_url('backend/order') }}" class="btn btn-default btn-md">Cancel</a>
				<button type="submit" class="btn btn-info btn-md pull-right" onclick="return validate();">Save</button>
			</div>
		</div>
	</div>
	</form>
	<!-- /.box-body -->
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	var workerAmount = {{ worker_amount }};
	function validate()
	{
		var flag = 0;
		$('input[type=checkbox]').each(function(idx, el){
			if($(this).prop('checked')){
				flag++;
				return;
			}
		});
		if (flag != workerAmount) {
			alert('Please select ' + workerAmount + " workers to proceed.");
			return false;
		}

		return confirm('After you save the schedule you cannot modify this again. Are you sure to proceed?');
	}
</script>
{% endblock %}