{% extends 'backend/masterpages/layout.html' %}
{% block body %}
<div class="col-xs-8 col-xs-offset-2">
	<!-- Horizontal Form -->
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">New Bank</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{{ site_url('backend/bank/doedit') }}" method="post">
              <div class="box-body">

                <div class="form-group">
                  <label for="bank_name" class="col-sm-2 control-label">Bank Name</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="bank_name" name="bank_name" placeholder="Bank Name" required="" minlength="5" maxlength="100" value="{{ bank.bank_name }}">
                    <input type="hidden" name="id" value="{{ bank.id }}">
                  </div>
                </div>

                <div class="form-group">
                  <label for="account_name" class="col-sm-2 control-label">Account Name</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="account_name" name="account_name" placeholder="Account Name" required="" minlength="5" maxlength="100" value="{{ bank.account_name }}">
                  </div>
                </div>

                <div class="form-group">
                  <label for="account_no" class="col-sm-2 control-label">Account No</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="account_no" name="account_no" placeholder="Account Number" required="" minlength="5" maxlength="100" value="{{ bank.account_no }}">
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a href="{{ site_url('backend/bank') }}" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
</div>
{% endblock %}